<div class="container">
    <ul class="nav-sub-list nav-sub03">
        <li ng-class="{active: activeState === '/serverHealthSensorReadings'}"><a href="{{activeState === '/serverHealthSensorReadings'  ? 'javascript:void(0)' : '#!/serverHealthSensorReadings'}}">Sensor Readings</a></li>
        <li ng-class="{active: activeState === '/serverHealthEventLogs'}"><a href="{{activeState === '/serverHealthEventLogs'  ? 'javascript:void(0)' : '#!/serverHealthEventLogs'}}">Event Logs</a></li>
    </ul>
</div>