<!DOCTYPE html>
<html lang="ko" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KETI iBMC WEB</title>

    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/layout.css" rel="stylesheet">
    <link href="./css/toastr.min.css" rel="stylesheet">
    <link href="./css/chartist.css" rel="stylesheet">
    <link href="./css/home.css" rel="stylesheet">

    <script src="./js/third-parties/chart.js"></script>
    <script src="./js/third-parties/chartjs-plugin-dragdata"></script>
    <script src="./js/third-parties/apexcharts"></script>
    <script src="./js/third-parties/jquery.min-1.11.2.js"></script>
    <script src="./js/third-parties/bootstrap.min.js"></script>
    <script src="./js/third-parties/chartist.min.js"></script>
    <script src="./js/third-parties/crypto-js.min.js"></script>

    <script src="./js/third-parties/angular.min-1.6.4.js"></script>
    <script src="./js/third-parties/angular-route.min-1.6.4.js"></script>
    <script src="./js/third-parties/angular-cookies.min.js"></script>
    <script src="./js/third-parties/angular-translate.min.js"></script>
    <script src="./js/third-parties/angular-translate-storage-local.min.js"></script>
    <script src="./js/third-parties/angular-translate-storage-cookie.min.js"></script>
    <script src="./js/third-parties/angular-translate-loader-static-files.min.js"></script>
    <script src="./js/third-parties/toastr.min.js"></script>
    <script src="./js/third-parties/chartistAngularDirective.js"></script>
    <script src="./js/third-parties/ui-bootstrap-custom-tpls-2.5.0.min.js"></script>
    <script src="./js/third-parties/radialIndicator.js"></script>
    <script src="./js/third-parties/angular.radialIndicator.js"></script>
    <script src="./js/export.js"></script>
    <script src="./js/app.js"></script>

    <script src="./js/services/commonServices.js"></script>
    <script src="./js/controllers/commonController.js"></script>
    <script src="./js/controllers/timerController.js"></script>
    <script src="./js/controllers/loginController.js"></script>
    <script src="./js/controllers/homeController.js"></script>
    <script src="./js/controllers/systemInformationController.js"></script>
    <script src="./js/controllers/fruInformationController.js"></script>
    <script src="./js/controllers/fruInformationModifyController.js"></script>
    <script src="./js/controllers/sensorReadingsController.js"></script>
    <script src="./js/controllers/eventLogsController.js"></script>
    <script src="./js/controllers/powerUsageController.js"></script>
    <script src="./js/controllers/configDnsController.js"></script>
    <script src="./js/controllers/configNetworkController.js"></script>
    <script src="./js/controllers/configNtpController.js"></script>
    <script src="./js/controllers/configSmtpController.js"></script>
    <script src="./js/controllers/configActiveDirectoryController.js"></script>
    <script src="./js/controllers/configLdapController.js"></script>
    <script src="./js/controllers/configRadiusController.js"></script>
    <script src="./js/controllers/configUsersController.js"></script>
    <script src="./js/controllers/configSslController.js"></script>
    <script src="./js/controllers/maintenanceFirmwareUpdateController.js"></script>
    <script src="./js/controllers/maintenanceBmcResetController.js"></script>
    <script src="./js/controllers/maintenanceAiDataLoadController.js"></script>
    <script src="./js/controllers/faultAnalysisDiskReportController.js"></script>
    <script src="./js/controllers/faultAnalysisLogMonitoringController.js"></script>
    <script src="./js/controllers/energySavingCpuPowerCappingController.js"></script>
    <script src="./js/controllers/faultAnalysisHardwareReportController.js"></script>


    <!--<script src="./js/controllers/faultAnalysisOverallMonitoringController.js"></script>
    <script src="./js/controllers/faultAnalysisFoflPolicy.js"></script>
    <script src="./js/controllers/energySavingSmartFanControl.js"></script>-->
    <script src="./js/controllers/faultAnalysisOverallMonitoringController.js"></script>
    <script src="./js/controllers/faultAnalysisFoflPolicyController.js"></script>
    <script src="./js/controllers/energySavingSmartFanController.js"></script>
    <script src="./js/controllers/consoleRedirectionController.js"></script>
    <script src="./js/controllers/serverPowerControlController.js"></script>
    <script src="./js/controllers/solController.js"></script>
    <script src="./js/controllers/virtualMediaUsbController.js"></script>
    <!-- [수정] Settings화면 -->
    <!-- <script src="./js/controllers/SettingsServicesController.js"></script> -->
    <script src="./js/controllers/settingsServicesController.js"></script>
</head>

<body>

<!--<div class="container-fluid header">
    <div class="row content">
        <div class="top-utility" ng-style="activeState.indexOf('/login') === 0 ? {display: 'none'} : {display: 'block'}">
            <div class="top-utility-wrap">
                <div class="top-left" >
                    <img src="./images/logo2.png"> <img src="./images/logo3.png">
                </div>
                <div class="top-right" >
                    <div class="logfile">
                        <ul class="top-txt" ng-controller="CommonController" data-ng-init="init()">
                            <li ng-if="isLogin">
                                <a href="{{ isLogin ? activeState === '/home' ? 'javascript:void(0)' : '#!/home' : 'javascript:void(0)' }}">
                                    <span class="glyphicon glyphicon-home"></span> {{ "HOME.HOME" | translate }}
                                </a>
                            </li>
                            <li ng-if="isLogin"><span class="glyphicon glyphicon-user"></span> {{userName + ' ( ' + userPrivilegeConverted + ' )'}}</li>
                            <li ng-if="isLogin"><span class="glyphicon glyphicon-refresh"></span> <a href="javascript:void(0)" ng-click="reloadRoute()">{{ "REFRESH" | translate }}</a></li>
                            <li ng-if="isLogin"><span class="glyphicon glyphicon-log-in"></span> <a href="#" ng-click="logout()">{{ "LOGOUT" | translate }}</a></li>
                            <li>
                                <select class="form-control input-sm" ng-model="language" ng-change="changeLanguage()">
                                    <option value="en_US">{{ 'ENGLISH' | translate }}</option>
                                    <option value="ko_KR">{{ 'KOREAN' | translate }}</option>
                                </select>
                            </li>
                            <div class="date-time" ng-controller="TimerController">
                                <span class="icon_date">{{ clock | date:'yyyy-MM-dd'}}</span>
                                <span class="icon_time">{{ clock | date:'HH:mm:ss'}}</span>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<div class="container-fluid"
    ng-style="activeState.indexOf('/login') === 0 ? {'background': '#ebeef3'} : {'background': 'none'}">
    <div class="row content">
        <div ng-class="activeState.indexOf('/home') === 0 ? 'sidenav-menu' : 'sidenav'"
            ng-style="activeState.indexOf('/login') === 0 ? {display: 'none'} : {display: 'block'}">
            <div ng-include="'views/includes/leftNav.html'"></div>
        </div>
        <ng-view></ng-view>
    </div>
</div>
<!--<div class="spinner-overlay" ng-show="showSpinner">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>-->

</body>
</html>
