<style>
    .dns_arrow_line {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .dns_arrow-icon {
        width: 20px;
        margin-left: 5px;
        margin-left: auto;
    }

    .dns_ctrl-split {
        display: none;
        flex-direction: column;
    }
</style>

<script>
    const dns_Arrow = document.querySelector(".dns_arrow-icon");
    const dns_ctrlSplit = document.querySelector(".dns_ctrl-split");
    const dns_titleline = document.querySelector(".dns-line");
    const dns_boxGuide = document.querySelector(".dnsbox_guide");
    const dns_img1Path = "./images/arrow1_icon.png";
    const dns_img2Path = "./images/arrow2_icon.png";

    let dnsVisible = false;

    dns_Arrow.addEventListener("click", function () {
        if (dnsVisible) {
            dns_Arrow.src = dns_img2Path;
            dns_ctrlSplit.style.display = "none";
            dns_titleline.style.borderBottom = "none";
            dns_boxGuide.style.minHeight = "100px";
            dns_boxGuide.style.paddingBottom = "20px";

            dnsVisible = false;
        } else {
            dns_Arrow.src = dns_img1Path;

            dns_ctrlSplit.style.display = "flex";
            dns_titleline.style.borderBottom = "2px solid #0b4daf";
            dns_boxGuide.style.minHeight = "400px";
            dns_boxGuide.style.paddingBottom = "50px";


            dnsVisible = true;
        }
    });
</script>

<div class="contents top-snb-margin" data-ng-init="init()">
    <div class="content">
        <div class="box_wrap box_guide dnsbox_guide" style="min-height: 100px;">
            <div class="content-area">
                <div class="title_line dns-line" style="border-bottom: none;">
                    <h4>{{ "CONFIGURATION.DNS_SETTING" | translate }}</h4>
                    <div class="dns_arrow_line">
                        <div class="con-subtit" style="margin-right: auto;">{{ "CONFIGURATION.DNS_SETTING_DESCRIPTION" |
                            translate }}</div>
                        <img src="./images/arrow2_icon.png" class="dns_arrow-icon">
                    </div>
                </div>
                <div class="dns_ctrl-split">

                    <div class="con-info">
                        <div class="info-data">{{ "CONFIGURATION.HOST_CONFIGURATION" | translate }}</div>
                        <table class="table-data">
                            <colgroup>
                                <col width="250px">
                                <col width="*">
                            </colgroup>
                            <tbody>
                                <tr class="down">
                                    <th>{{ "CONFIGURATION.HOST_NAME" | translate }}</th>
                                    <td>
                                        <input type="text" ng-model="hostName" class="form-control input-sm"
                                            style="width:200px;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="con-info">
                        <div class="info-data">{{ "CONFIGURATION.REGISTER_BMC" | translate }}</div>
                        <table class="table-data">
                            <colgroup>
                                <col width="250px">
                                <col width="*">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th rowspan="2">{{ "CONFIGURATION.ETH_0" | translate }}</th>
                                    <td>
                                        <label class="checkbox-inline"><input type="checkbox" ng-model="registerBmc">{{
                                            "CONFIGURATION.REGISTER_BMC" | translate }}</label>
                                    </td>
                                </tr>
                                <tr class="down">
                                    <td>
                                        <label class="radio-inline"><input type="radio" name="optradio" value="DIRECT"
                                                ng-model="registerBmcMethod">Direct Dynamic DNS</label>
                                        <label class="radio-inline"><input type="radio" name="optradio" value="DHCP"
                                                ng-model="registerBmcMethod">DHCP Client FQDN</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="con-info">
                        <div class="info-data">{{ "CONFIGURATION.DOMAIN_NAME_CONFIGURATION" | translate }}</div>
                        <table class="table-data">
                            <colgroup>
                                <col width="250px">
                                <col width="*">
                            </colgroup>
                            <tbody>
                                <tr class="down">
                                    <th>{{ "CONFIGURATION.DOMAIN_NAME" | translate }}</th>
                                    <td>
                                        <input type="text" ng-model="domainName" class="form-control input-sm"
                                            style="width:200px;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="con-info">
                        <div class="info-data">{{ "CONFIGURATION.IP_V4_DOMAIN_NAME_SERVER_CONFIGURATION" | translate }}
                        </div>
                        <table class="table-data">
                            <colgroup>
                                <col width="250px">
                                <col width="*">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>{{ "CONFIGURATION.PREFERRED_DNS_SERVER" | translate }}</th>
                                    <td>
                                        <input type="text" ng-model="ipv4PreferredDnsServer"
                                            class="form-control input-sm" style="width:200px;">
                                    </td>
                                </tr>
                                <tr class="down">
                                    <th>{{ "CONFIGURATION.ALTERNATE_DNS_SERVER" | translate }}</th>
                                    <td>
                                        <input type="text" ng-model="ipv4AlternateDnsServer"
                                            class="form-control input-sm" style="width:200px;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="con-info">
                        <!-- [수정3] en_US.json 에 IP_V6_DOMAIN_NAME_SERVER_CONFIGURATION Text 오류 수정 -->
                        <div class="info-data">{{ "CONFIGURATION.IP_V6_DOMAIN_NAME_SERVER_CONFIGURATION" | translate }}
                        </div>
                        <table class="table-data">
                            <colgroup>
                                <col width="250px">
                                <col width="*">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>{{ "CONFIGURATION.PREFERRED_DNS_SERVER" | translate }}</th>
                                    <td>
                                        <input type="text" ng-model="ipv6PreferredDnsServer"
                                            class="form-control input-sm" style="width:200px;">
                                    </td>
                                </tr>
                                <tr class="down">
                                    <th>{{ "CONFIGURATION.ALTERNATE_DNS_SERVER" | translate }}</th>
                                    <td>
                                        <input type="text" ng-model="ipv6AlternateDnsServer"
                                            class="form-control input-sm" style="width:200px;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="btn-style">
                        <button type="button" class="btn btn-blue" ng-click="Dnssave()">{{ "SAVE" | translate }}</button>
                        <button type="button" class="btn btn-black" ng-click="Dnsreset()">{{ "RESET" | translate
                            }}</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- row content -->
    </div>
</div>