<style>
    .active_directory_arrow_line {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .active_directory_arrow-icon {
        width: 20px;
        margin-left: 5px;
        margin-left: auto;
    }

    .active_directory_ctrl-split {
        display: none;
        flex-direction: column;
    }
</style>

<script>
    const active_directory_Arrow = document.querySelector(".active_directory_arrow-icon");
    const active_directory_ctrlSplit = document.querySelector(".active_directory_ctrl-split");
    const active_directory_titleline = document.querySelector(".active_directory-line");
    const active_directory_boxGuide = document.querySelector(".active_directorybox_guide");
    const active_directory_img1Path = "./images/arrow1_icon.png";
    const active_directory_img2Path = "./images/arrow2_icon.png";

    let active_directoryVisible = false;

    active_directory_Arrow.addEventListener("click", function () {
        if (active_directoryVisible) {
            active_directory_Arrow.src = active_directory_img2Path;

            active_directory_ctrlSplit.style.display = "none";
            active_directory_titleline.style.borderBottom = "none";
            active_directory_boxGuide.style.minHeight = "100px";
            active_directory_boxGuide.style.paddingBottom = "20px";

            active_directoryVisible = false;
        } else {
            active_directory_Arrow.src = active_directory_img1Path;

            active_directory_ctrlSplit.style.display = "flex";
            active_directory_titleline.style.borderBottom = "2px solid #0b4daf";
            active_directory_boxGuide.style.minHeight = "400px";
            active_directory_boxGuide.style.paddingBottom = "50px";

            active_directoryVisible = true;
        }
    });
</script>
<div class="contents top-snb-margin" data-ng-init="init()">
    <div class="content">
        <div class="box_wrap box_guide active_directorybox_guide" style="min-height: 100px;">
            <div class="content-area">
                <div class="title_line active_directory-line" style="border-bottom: none;">
                    <h4>{{ "CONFIGURATION.GENERAL_ACTIVE_DIRECTORY_SETTINGS" | translate }}</h4>
                    <div class="active_directory_arrow_line">
                        <div class="con-subtit">{{ "CONFIGURATION.GENERAL_ACTIVE_DIRECTORY_SETTINGS_DESCRIPTION" |
                            translate
                            }}</div>
                        <img src="./images/arrow2_icon.png" class="active_directory_arrow-icon">
                    </div>
                    <div class="active_directory_ctrl-split">

                        <div class="con-info">
                            <div class="info-data">{{ "SETTINGS" | translate }}</div>
                            <form class="form-inline">
                                <table class="table-data">
                                    <colgroup>
                                        <col width="300px">
                                        <col width="*">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>{{ "CONFIGURATION.AUTHENTICATION" | translate }}</th>
                                            <td>
                                                <label class="checkbox-inline"><input type="checkbox"
                                                        ng-model="adEnable">{{
                                                    "CONFIGURATION.ENABLE_ACTIVE_DIRECTORY_AUTHENTICATION" | translate
                                                    }}</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>{{ "CONFIGURATION.SECRET_USER_NAME" | translate }}</th>
                                            <td><input type="text" class="form-control input-sm"
                                                    ng-model="adSecretName">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>{{ "CONFIGURATION.SECRET_PASSWORD" | translate }}</th>
                                            <td><input type="password" class="form-control input-sm"
                                                    ng-model="adSecretPw">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>{{ "CONFIGURATION.DOMAIN_NAME" | translate }}</th>
                                            <td><input type="text" class="form-control input-sm" ng-model="adDomain">
                                            </td>
                                        </tr>
                                        <tr class="down">
                                            <th>{{ "CONFIGURATION.DOMAIN_CONTROLLER_SERVER_ADDRESS_1" | translate }}
                                            </th>
                                            <td><input type="text" class="form-control input-sm" ng-model="adIpAddress">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>

                        <div class="btn-style">
                            <button type="button" class="btn btn-blue" ng-click="adsave()">{{ "SAVE" | translate
                                }}</button>
                            <button type="button" class="btn btn-black" ng-click="adreset()">{{ "RESET" | translate
                                }}</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
