<style>
    .view_ssl_arrow_line {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .view_ssl_arrow-icon {
        width: 20px;
        margin-left: 5px;
        margin-left: auto;
    }

    .view_ssl_ctrl-split {
        display: none;
        flex-direction: column;
    }
</style>

<script>
    const view_ssl_Arrow = document.querySelector(".view_ssl_arrow-icon");
    const view_ssl_ctrlSplit = document.querySelector(".view_ssl_ctrl-split");
    const view_ssl_titleline = document.querySelector(".view_ssl-line");
    const view_ssl_boxGuide = document.querySelector(".view_sslbox_guide");
    const view_ssl_img1Path = "./images/arrow1_icon.png";
    const view_ssl_img2Path = "./images/arrow2_icon.png";

    let view_sslVisible = false;

    view_ssl_Arrow.addEventListener("click", function () {
        if (view_sslVisible) {
            view_ssl_Arrow.src = generate_ssl_img2Path;

            view_ssl_ctrlSplit.style.display = "none";
            view_ssl_titleline.style.borderBottom = "none";
            view_ssl_boxGuide.style.minHeight = "100px";
            view_ssl_boxGuide.style.paddingBottom = "20px";

            view_sslVisible = false;
        } else {
            view_ssl_Arrow.src = generate_ssl_img1Path;

            view_ssl_ctrlSplit.style.display = "flex";
            view_ssl_titleline.style.borderBottom = "2px solid #0b4daf";
            view_ssl_boxGuide.style.minHeight = "400px";
            view_ssl_boxGuide.style.paddingBottom = "50px";

            view_sslVisible = true;
        }
    });
</script>
<div class="contents top-snb-margin" data-ng-init="init()">
    <div class="content">
        <div class="box_wrap box_guide view_sslbox_guide" style="min-height: 100px;">
            <div class="content-area">
                <div class="title_line view_ssl-line" style="border-bottom: none;">
                    <h4>{{ "CONFIGURATION.SSL_CERTIFICATION_CONFIGURATION" | translate }}</h4>
                    <div class="view_ssl_arrow_line">
                        <div class="con-subtit">
                            {{ "CONFIGURATION.SSL_CERTIFICATION_CONFIGURATION_DESCRIPTION" | translate }}</div>
                        <img src="./images/arrow2_icon.png" class="view_ssl_arrow-icon">
                    </div>
                </div>

                <div class="view_ssl_ctrl-split">
                    <div class="menu-tab">
                        <ul class="nav nav-tabs">
                            <li>
                                <!-- <a href="#!/configGenerateSsl">{{ "CONFIGURATION.GENERATE_SSL" | translate }}</a> -->
                                <a data-ng-click="GensslOnClick()"
                                    id="view_Gen">{{ "CONFIGURATION.GENERATE_SSL" | translate }}</a>

                            </li>
                            <li class="active">
                                <a href="javascript:void(0)">{{ "CONFIGURATION.VIEW_SSL" | translate }}</a>
                            </li>
                        </ul>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>