<style>
    .network_arrow_line {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .network_arrow-icon {
        width: 20px;
        margin-left: 5px;
        margin-left: auto;
    }

    .network_ctrl-split {
        display: none;
        flex-direction: column;
    }
</style>

<script>
    const network_Arrow = document.querySelector(".network_arrow-icon");
    const network_ctrlSplit = document.querySelector(".network_ctrl-split");
    const network_titleline = document.querySelector(".network-line");
    const network_boxGuide = document.querySelector(".networkbox_guide");
    const network_img1Path = "./images/arrow1_icon.png";
    const network_img2Path = "./images/arrow2_icon.png";

    let networkVisible = false;

    network_Arrow.addEventListener("click", function () {
        if (networkVisible) {
            network_Arrow.src = network_img2Path;

            network_ctrlSplit.style.display = "none";
            network_titleline.style.borderBottom = "none";
            network_boxGuide.style.minHeight = "100px";
            network_boxGuide.style.paddingBottom = "20px";

            networkVisible = false;
        } else {
            network_Arrow.src = network_img1Path;

            network_ctrlSplit.style.display = "flex";
            network_titleline.style.borderBottom = "2px solid #0b4daf";
            network_boxGuide.style.minHeight = "400px";
            network_boxGuide.style.paddingBottom = "50px";


            networkVisible = true;
        }
    });
</script>
<div class="contents top-snb-margin" data-ng-init="init()">
    <div class="content">
        <div class="box_wrap box_guide networkbox_guide" style="min-height: 100px;">
            <div class="content-area">
                <div class="title_line network-line" style="border-bottom: none;">
                    <h4>{{ "CONFIGURATION.NETWORK_SETTING" | translate }}</h4>
                    <div class="network_arrow_line">
                        <div class="con-subtit">{{ "CONFIGURATION.NETWORK_SETTING_DESCRIPTION" | translate }}</div>
                        <img src="./images/arrow2_icon.png" class="network_arrow-icon">
                    </div>
                    <div class="network_ctrl-split">

                        <div class="con-info">
                            <div class="info-data">{{ "CONFIGURATION.NETWORK_INTERFACE_CONFIGURATION" | translate }}
                            </div>
                            <table class="table-data">
                                <colgroup>
                                    <col width="250px">
                                    <col width="*">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>{{ "CONFIGURATION.PRIORITY" | translate }}</th>
                                        <td>
                                            <label class="radio-inline"><input type="radio" name="priority" value="eth0"
                                                    ng-model="priority">eth0-Shared</label>
                                            <label class="radio-inline"><input type="radio" name="priority" value="eth1"
                                                    ng-model="priority">eth1-Dedicated</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ "CONFIGURATION.INTERFACE_NAME" | translate }}</th>
                                        <td>
                                            <select class="form-control input-sm" style="width:200px;"
                                                ng-model="networkInfo" ng-change="onChangeNetwork(networkInfo)">
                                                <option ng-repeat="network in networkInfos" ng-value="network">{{
                                                    network.LAN_INTERFACE }}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ "CONFIGURATION.ENABLE_DISABLE" | translate }}</th>
                                        <td>
                                            <label class="checkbox-inline"><input type="checkbox"
                                                    ng-model="lanSettingEnable">{{
                                                "ENABLE" | translate }}</label>
                                        </td>
                                    </tr>
                                    <tr class="down">
                                        <th>{{ "MAC_ADDRESS" | translate }}</th>
                                        <td>
                                            <input type="text" ng-model="macAddress" class="form-control input-sm"
                                                style="width:200px;">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="con-info">
                            <div class="info-data">{{ "CONFIGURATION.IP_V4_CONFIGURATION" | translate }}</div>
                            <table class="table-data">
                                <colgroup>
                                    <col width="250px">
                                    <col width="*">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>{{ "CONFIGURATION.OBTAIN_AN_IP_ADDRESS_AUTOMATICALLY" | translate }}</th>
                                        <td>
                                            <label class="checkbox-inline"><input type="checkbox"
                                                    ng-model="ipv4DhcpEnable" ng-change="ipv4UseDhcpChange()">{{
                                                "CONFIGURATION.USE_DHCP" | translate
                                                }}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ "CONFIGURATION.IP_V4_ADDRESS" | translate }}</th>
                                        <td>
                                            <input type="text" ng-model="ipv4Address" id="ipv4Address"
                                                class="form-control input-sm" style="width:200px;"
                                                ng-readonly="ipv4DhcpEnable">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ "CONFIGURATION.SUBNET_MASK" | translate }}</th>
                                        <td>
                                            <input type="text" ng-model="ipv4Netmask" id="ipv4Netmask"
                                                class="form-control input-sm" style="width:200px;"
                                                ng-readonly="ipv4DhcpEnable">
                                        </td>
                                    </tr>
                                    <tr class="down">
                                        <th>{{ "CONFIGURATION.DEFAULT_GATEWAY" | translate }}</th>
                                        <td>
                                            <input type="text" ng-model="ipv4Gateway" id="ipv4Gateway"
                                                class="form-control input-sm" style="width:200px;"
                                                ng-readonly="ipv4DhcpEnable">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="con-info">
                            <div class="info-data">{{ "CONFIGURATION.IP_V6_CONFIGURATION" | translate }}</div>
                            <table class="table-data">
                                <colgroup>
                                    <col width="250px">
                                    <col width="*">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>{{ "CONFIGURATION.IP_V6_SETTINGS" | translate }}</th>
                                        <td>
                                            <label class="checkbox-inline"><input type="checkbox" ng-model="ipv6Enable">{{
                                                "ENABLE" | translate }}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ "CONFIGURATION.OBTAIN_AN_IP_ADDRESS_AUTOMATICALLY" | translate }}</th>
                                        <td>
                                            <label class="checkbox-inline"><input type="checkbox"
                                                    ng-model="ipv6DhcpEnable" ng-change="ipv6UseDhcpChange()">{{
                                                "CONFIGURATION.USE_DHCP" | translate
                                                }}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ "CONFIGURATION.IP_V6_ADDRESS" | translate }}</th>
                                        <td>
                                            <input type="text" ng-model="ipv6Address" class="form-control input-sm"
                                                style="width:200px;" ng-readonly="ipv6DhcpEnable">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ "CONFIGURATION.SUBNET_PREFIX_LENGTH" | translate }}</th>
                                        <td>
                                            <input type="text" ng-model="ipv6SubnetPrefixLength"
                                                class="form-control input-sm" style="width:200px;"
                                                ng-readonly="ipv6DhcpEnable">
                                        </td>
                                    </tr>
                                    <tr class="down">
                                        <th>{{ "CONFIGURATION.DEFAULT_GATEWAY" | translate }}</th>
                                        <td>
                                            <input type="text" ng-model="ipv6Gateway" class="form-control input-sm"
                                                style="width:200px;" ng-readonly="ipv6DhcpEnable">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- <div class="con-info">
                            <div class="info-data">{{ "CONFIGURATION.VLAN_CONFIGURATION" | translate }}</div>
                            <table class="table-data">
                                <colgroup>
                                    <col width="250px">
                                    <col width="*">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>{{ "CONFIGURATION.VLAN_SETTINGS" | translate }}</th>
                                        <td>
                                            <label class="checkbox-inline"><input type="checkbox"
                                                    ng-model="vlanSettingsEnable">{{ "ENABLE" | translate }}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ "CONFIGURATION.VLAN_ID" | translate }}</th>
                                        <td>
                                            <input type="text" ng-model="vlanId" class="form-control input-sm"
                                                style="width:200px;">
                                        </td>
                                    </tr>
                                    <tr class="down">
                                        <th>{{ "CONFIGURATION.VLAN_PRIORITY" | translate }}</th>
                                        <td>
                                            <input type="text" ng-model="vlanPriority" class="form-control input-sm"
                                                style="width:200px;">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> -->

                        <div class="btn-style">
                            <button type="button" class="btn btn-blue" ng-click="Netsave()">{{ "SAVE" | translate
                                }}</button>
                            <button type="button" class="btn btn-black" ng-click="Netreset()">{{ "RESET" | translate
                                }}</button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- row content -->
        </div>
    </div>
</div>