<div class="contents top-snb-margin" data-ng-init="init()">
<div class="content">
    <div class="box_wrap box_guide">
        <div class="content-area">
            <div class="title_line">
                <h4>{{ "REMOTE_CONTROL.SERIAL_OVER_LAN" | translate }}</h4>
                <div class="con-subtit">{{ "REMOTE_CONTROL.SERIAL_OVER_LAN_DESCRIPTION" | translate }}</div>
            </div>

            <div class="con-info">
                <button type="button" class="btn btn-blue" data-ng-click="onClick()">{{ "REMOTE_CONTROL.SOL_LAUNCHER" | translate }}</button>
            </div>
        </div>
    </div>
</div>
</div>