<div class="contents top-snb-margin" data-ng-init="init()">
    <!-- row content -->
    <div class="content">
        <div class="box_wrap box_guide">
            <div class="content-area">
                <div class="title_line">
                    <h4>{{ "ENERGY_SAVING.CPU_POWER_CAPPING" | translate }}</h4>
                    <div class="con-subtit">{{ "ENERGY_SAVING.CPU_POWER_CAPPING_DESCRIPTION" | translate }}</div>
                </div>

                <div class="con-info">
                    <div class="cpu_power_capping" ></div>
                    <div class="info-data">{{ "ENERGY_SAVING.CPU_VALUES_MONITORING" | translate }}</div>
                    <form class="form-inline">
                        <table class="table-data">
                            <colgroup>
                                <col width="200px">
                                <col width="*">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>{{ "ENERGY_SAVING.CPU_VOLTAGE" | translate }}</th>
                                    <td>
                                        {{energy_saving.CPU_VOLTAGE}}
                                    </td>
                                </tr>                            
                                <tr>
                                    <th>{{ "ENERGY_SAVING.CPU_CURRENT" | translate }}</th>
                                    <td>
                                        {{energy_saving.CPU_CURRENT}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ "ENERGY_SAVING.CPU_POWER" | translate }}</th>
                                    <td>{{energy_saving.CPU_POWER}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

                <div class="con-info">

                    
                    <div class="ai_data" ></div>
                    <div class="info-data">{{ "ENERGY_SAVING.CPU_UTILIZATION_CONTROL" | translate }}</div>
                    <form class="form-inline">
                        <table class="table-data">
                            <colgroup>
                                <col width="200px">
                                <col width="*">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>{{ "ENERGY_SAVING.AI_DATA_LOAD_CATEGORY" | translate }}</th>
                                    <td>
                                        <select 
                                        class="form-control input-sm"
                                        style="width: 150px;"
                                        ng-options="category for category in categoryList"
                                        ng-model="selectedCategory"
                                        ng-change="onChangeCategory(selectedCategory)">
                                    </select>
                                    </td>
                                </tr>                            
                                <tr>
                                    <th>{{ "ENERGY_SAVING.AI_DATA_LOAD_DATE" | translate }}</th>
                                    <td>
                                        <select class="form-control input-sm" style="width:75px;" ng-model="year" ng-disabled="autoSync" ng-options="y as y for y in yearList"></select>
                                        <select class="form-control input-sm" style="width:175px;" ng-model="month" ng-disabled="autoSync" ng-options="m.n as m.s for m in monthList"></select>
                                        <select class="form-control input-sm" style="width:75px;" ng-model="day" ng-disabled="autoSync" ng-options="d as d for d in dayList"></select>
                                        ~
                                        <select class="form-control input-sm" style="width:75px;" ng-model="year" ng-disabled="autoSync" ng-options="y as y for y in yearList"></select>
                                        <select class="form-control input-sm" style="width:175px;" ng-model="month" ng-disabled="autoSync" ng-options="m.n as m.s for m in monthList"></select>
                                        <select class="form-control input-sm" style="width:75px;" ng-model="day" ng-disabled="autoSync" ng-options="d as d for d in dayList"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ "ENERGY_SAVING.AI_DATA_LOAD_DATA_SIZE" | translate }}</th>
                                    <td>{{data_size}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

                
                <div class="con-info">

                    
                    <div class="ai_data" ></div>
                    <div class="info-data">{{ "ENERGY_SAVING.ENERGY_CONSUMPTION_MONITORING" | translate }}</div>
                    <form class="form-inline">
                        <table class="table-data">
                            <colgroup>
                                <col width="200px">
                                <col width="*">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>{{ "ENERGY_SAVING.AI_DATA_LOAD_CATEGORY" | translate }}</th>
                                    <td>
                                        <select 
                                        class="form-control input-sm"
                                        style="width: 150px;"
                                        ng-options="category for category in categoryList"
                                        ng-model="selectedCategory"
                                        ng-change="onChangeCategory(selectedCategory)">
                                    </select>
                                    </td>
                                </tr>                            
                                <tr>
                                    <th>{{ "ENERGY_SAVING.AI_DATA_LOAD_DATE" | translate }}</th>
                                    <td>
                                        <select class="form-control input-sm" style="width:75px;" ng-model="year" ng-disabled="autoSync" ng-options="y as y for y in yearList"></select>
                                        <select class="form-control input-sm" style="width:175px;" ng-model="month" ng-disabled="autoSync" ng-options="m.n as m.s for m in monthList"></select>
                                        <select class="form-control input-sm" style="width:75px;" ng-model="day" ng-disabled="autoSync" ng-options="d as d for d in dayList"></select>
                                        ~
                                        <select class="form-control input-sm" style="width:75px;" ng-model="year" ng-disabled="autoSync" ng-options="y as y for y in yearList"></select>
                                        <select class="form-control input-sm" style="width:175px;" ng-model="month" ng-disabled="autoSync" ng-options="m.n as m.s for m in monthList"></select>
                                        <select class="form-control input-sm" style="width:75px;" ng-model="day" ng-disabled="autoSync" ng-options="d as d for d in dayList"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ "ENERGY_SAVING.AI_DATA_LOAD_DATA_SIZE" | translate }}</th>
                                    <td>{{data_size}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="btn-style">
                    <button type="button" class="btn btn-blue" ng-click="save()">{{ "SEND" | translate }}</button>
                    <button type="button" class="btn btn-black" ng-click="reset()">{{ "CANCEL" | translate }}</button>
                </div>

            </div>
        </div>
    </div>
    <!-- row content -->
</div>