<div class="contents top-snb-margin" data-ng-init="init()">
<div class="content">
    <div class="box_wrap box_guide">
        <div class="content-area">
            <div class="title_line">
                <h4>{{ "SERVER_HEALTH.EVENT_LOGS" | translate }}</h4>
                <div class="con-subtit">{{ "SERVER_HEALTH.EVENT_LOGS_DESCRIPTION" | translate }}</div>
            </div>

            <div class="sensor-top">
                <table>
                    <colgroup>
                        <col width="200px">
                        <col width="10px">
                        <col width="200px">
                        <col width="*">
                    </colgroup>
                    <tr>
                        <td>
                            <select ng-model="eventType" ng-change="onEventTypeChange()" class="form-control input-sm">
                                <option value="sensor">{{ "SERVER_HEALTH.SENSOR_EVENTS" | translate }}</option>
                                <option value="bios">{{ "SERVER_HEALTH.BIOS_EVENTS" | translate }}</option>
                                <option value="sm">{{ "SERVER_HEALTH.SYSTEM_MANAGEMENT_EVENTS" | translate }}</option>
                            </select>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="event">
                <div class="col-sm-4 event-wrap">
                    <div class="graph">
                        <ng-chartist id='graph_id' class="ct-chart-bar" data="chart.data" options="chart.barOptions" type={{'Bar'}} tooltips="false"></ng-chartist>
                    </div>
                </div>
                <div class="col-sm-8 event-scroll">
                    <div>
                        <table class="table-view">
                            <colgroup>
                                <col width="20%">
                                <col width="15%">
                                <col width="15%">
                                <col width="15%">
                                <col width="*%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>{{ "SERVER_HEALTH.TIME_STAMP" | translate }}</th>
                                    <th>{{ "SERVER_HEALTH.EVENT_ID" | translate }}</th>
                                    <th>{{ "SERVER_HEALTH.NAME" |  translate }}</th>
                                    <th>{{ "SERVER_HEALTH.TYPE" | translate }}</th>
                                    <th>{{ "SERVER_HEALTH.DESCRIPTION" | translate }}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="scroll">
                        <table class="table-view">
                            <colgroup>
                                <col width="20%">
                                <col width="15%">
                                <col width="15%">
                                <col width="15%">
                                <col width="*%">
                            </colgroup>
                            <tbody>
                                <tr ng-repeat="event in eventInfo">
                                    <td style="text-align: center;">{{ event.TIME || '-' }}</td>
                                    <td style="text-align: center;">{{ event.SENSOR_ID || '-' }}</td>
                                    <td style="text-align: center;">{{ event.NAME || '-' }}</td>
                                    <td style="text-align: center;">{{ event.TYPE || '-' }}</td>
                                    <td style="text-align: center; padding-left: 10px">{{ event.DESCRIPTION }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>