<div class="contents" data-ng-init="init()">
    <!-- row content -->
    <div class="content">
        <div class="box_wrap box_guide2">
            <div class="content-area">
                <div class="title_line">
                    <h4>{{ "FAULT_ANALYSIS.DISK_REPORT" | translate }}</h4>
                    <div class="con-subtit">{{ "FAULT_ANALYSIS.DISK_REPORT_DESCRIPTION" | translate }}</div>
                </div>
                <div class="title_line">
                    <h4>DISK LIST</h4>
                </div>
                <div class="con-info">
                    <div class="info-data">{{ "FAULT_ANALYSIS.DISK_SPEC" | translate }}</div>
                    <table class="table-data">
                        <colgroup>
                            <col width="250px">
                            <col width="*">
                        </colgroup>
                        <tbody>
                        <!-- [수정3] 하드코딩되었던 부분 변수사용하도록 변경 -->
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.MODEL_NAME" | translate }}</th>
                            <td>{{ diskInfo.MODEL_NAME || '-'}}</td>
                            <!-- <td>v1.0</td> -->
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.SERIAL_NUM" | translate }}</th>
                            <td>{{ diskInfo.SERIAL_NUMBER || '-' }}</td>
                            <!-- <td>v1.0</td> -->
                        </tr>                        
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.VENDOR_NAME" | translate }}</th>
                            <td>{{ diskInfo.VENDOR_NAME || '-' }}</td>
                            <!-- <td>2021-11-16.15:01:55</td> -->
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.USAGE_AND_TOTAL_CAPACITY" | translate }}</th>
                            <td>{{ diskInfo.USAGE || '-' }} / {{ diskInfo.TOTAL_CAPACITY || '-'}}</td>
                            <!-- <td>IPMI_001</td> -->
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="con-info">
                    <div class="info-data">{{ "FAULT_ANALYSIS.DISK_HEALTH" | translate }}</div>
                    <table class="table-data">
                        <colgroup>
                            <col width="250px">
                            <col width="*">
                        </colgroup>
                        <tbody>
                        <!-- [수정3] 하드코딩되었던 부분 변수사용하도록 변경 -->
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.STATUS_SCORE" | translate }}</th>
                            <td>{{ diskInfo.STATUS_SCORE || '-'}}</td>
                            <!-- <td>v1.0</td> -->
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.ESTIMATED_DISK_LIFE" | translate }}</th>
                            <td>{{ diskInfo.ESTIMATED_DISK_LIFE || '-' }}</td>
                            <!-- <td>v1.0</td> -->
                        </tr>                        
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.PROBABILITY_OF_ERROR_WITHIN_THE_YEAR" | translate }}</th>
                            <td>{{ diskInfo.PROBABILITY_OF_ERROR_WITHIN_THE_YEAR || '-' }}</td>
                            <!-- <td>2021-11-16.15:01:55</td> -->
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.DISK_SELF_TEST" | translate }} </th>
                            <td>{{ diskInfo.DISK_SELF_TEST || '-' }} </td>
                            <!-- <td>IPMI_001</td> -->
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="con-info">
                    <div class="info-data">{{ "FAULT_ANALYSIS.DISK_ANALYSIS" | translate }}</div>
                    <table class="table-data">
                        <colgroup>
                            <col width="250px">
                            <col width="*">
                        </colgroup>
                        <tbody>
                        <!-- [수정3] 하드코딩되었던 부분 변수사용하도록 변경 -->
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.FATAL_ERROR_COUNT" | translate }}</th>
                            <td>{{ diskInfo.FATAL_ERROR_COUNT || '-'}}</td>
                            <!-- <td>v1.0</td> -->
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.DISK_TEMPERATURE" | translate }}</th>
                            <td>{{ diskInfo.DISK_TEMPERATURE || '-' }}</td>
                            <!-- <td>v1.0</td> -->
                        </tr>                        
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.AMOUNT_OF_BLOCK_AVAILABLE" | translate }}</th>
                            <td>{{ diskInfo.AMOUNT_OF_BLOCK_AVAILABLE || '-' }}</td>
                            <!-- <td>2021-11-16.15:01:55</td> -->
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.DISK_USAGE" | translate }}</th>
                            <td>{{ diskInfo.DISK_USAGE || '-' }}</td>
                            <!-- <td>2021-11-16.15:01:55</td> -->
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.READ_AND_WRITE_DATA_SIZE" | translate }} </th>
                            <td>{{ diskInfo.READ_DATA_SIZE || '-' }} / {{diskInfo.WRITE_DATA_SIZE || '-'}}</td>
                            <!-- <td>IPMI_001</td> -->
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.USAGE_AND_OPERATION_TIME" | translate }}</th>
                            <td>{{ diskInfo.USAGE_TIME || '-' }} / {{diskInfo.OPERATION_TIME|| '-'}}</td>
                            <!-- <td>2021-11-16.15:01:55</td> -->
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.NUMBER_OF_ABNORMAL_TERMINATIONS" | translate }}</th>
                            <td>{{ diskInfo.NUMBER_OF_ABNORMAL_TERMINATIONS || '-' }}</td>
                            <!-- <td>2021-11-16.15:01:55</td> -->
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.DATA_INTEGRITY_ERROR" | translate }}</th>
                            <td>{{ diskInfo.DATA_INTEGRITY_ERROR || '-' }}</td>
                            <!-- <td>2021-11-16.15:01:55</td> -->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- row content -->
</div>
