<div class="contents" data-ng-init="init()">
    <div class="content">
        <div class="box_wrap box_guide" style="margin-top: 75px;">
            <div class="content-area">
                <div class="title_line">
                    <h4>{{ "FAULT_ANALYSIS.HARDWARE_REPORT" | translate }}</h4>
                    <div class="con-subtit">{{ "FAULT_ANALYSIS.HARDWARE_REPORT_COMMENT" | translate }}</div>
                </div>

                <div class="sensor-cont mt20">
                    <div class="sensor-cont">
                        <div class="mt20">
                            <div class="info-data">{{ "FAULT_ANALYSIS.HARDWARE_REPORT" | translate }}</div>
                            <div>
                                <table class="table-view">
                                    <colgroup>
                                        <col width="*">
                                        <col width="30%">
                                        <col width="25%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>{{ "SERVER_HEALTH.SENSOR_NAME" | translate }}</th>
                                            <th>{{ "SERVER_HEALTH.CURRENT_READING" | translate }}</th>
                                            <th>{{ "SERVER_HEALTH.STATUS" | translate }}</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="scroll-table">
                                <table class="table-view">
                                    <colgroup>
                                        <col width="*">
                                        <col width="30%">
                                        <col width="25%">
                                    </colgroup>
                                    <tbody>
                                        <tr ng-repeat="sensor in sensorInfo.SENSOR"
                                            ng-click="didClickSensor(sensor)">
                                            <td class="sensorName">{{ sensor.NAME }}</td>
                                            <td>{{ sensor.READING }} {{ sensor.UNIT }}</td>
					      <td>
                                                {{ sensor.STATUS === 'Normal' && sensor.READING !== 0 ? 'OK' : 'Not OK' }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</div>