<div class="contents top-snb-margin" data-ng-init="init()">
    <div class="content">
        <div class="box_wrap box_guide">
            <div class="content-area">
                <div class="title_line">
                    <h4>{{ "FAULT_ANALYSIS.DISK_REPORT" | translate }}</h4>
                    <div class="con-subtit">{{ "FAULT_ANALYSIS.DISK_REPORT_DESCRIPTION" | translate }}</div>
                </div>
                <div class="disk-list-box" style="display: flex; overflow-x:auto; white-space: nowrap; margin-top: 10px;">
                    <div class="table-responsive">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <button type="button" class="btn btn-outline-primary " style="margin-left: 20px; margin-right: 20px;">nvme0</button>
                            <button type="button" class="btn btn-secondary " style="margin-left: 20px; margin-right: 20px;" disabled>nvme1</button>
                            <button type="button" class="btn btn-secondary " style="margin-left: 20px; margin-right: 20px;" disabled>sda</button>
                            <button type="button" class="btn btn-secondary " style="margin-left: 20px; margin-right: 20px;" disabled>sdb</button>
                            <button type="button" class="btn btn-secondary " style="margin-left: 20px; margin-right: 20px;" disabled>sdc</button>
                            <button type="button" class="btn btn-secondary " style="margin-left: 20px; margin-right: 20px;" disabled>sdd</button>

                        </div>
                    </div>
                    </div>
                </div>
                <div class="con-info" ng-show="selectedDiskInfo">
                    <div class="info-data">{{ "FAULT_ANALYSIS.DISK_SPEC" | translate }}</div>
                    <table class="table-data">
                        <colgroup>
                            <col width="250px">
                            <col width="*">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.MODEL_NAME" | translate }}</th>
                            <td>{{ selectedDiskInfo.MODEL_NAME || '-'}}</td>
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.SERIAL_NUM" | translate }}</th>
                            <td>{{ selectedDiskInfo.SERIAL_NUMBER || '-' }}</td>
                        </tr>                        
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.VENDOR_NAME" | translate }}</th>
                            <td>{{ selectedDiskInfo.VENDOR_NAME || '-' }}</td>
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.USAGE_AND_TOTAL_CAPACITY" | translate }}</th>
                            <td>{{ selectedDiskInfo.USAGE || '-' }} / {{ selectedDiskInfo.TOTAL || '-'}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="con-info" ng-show="selectedDiskInfo">
                    <div class="info-data">{{ "FAULT_ANALYSIS.DISK_HEALTH" | translate }}</div>
                    <table class="table-data">
                        <colgroup>
                            <col width="250px">
                            <col width="*">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.STATUS_SCORE" | translate }}</th>
                            <td>{{ selectedDiskInfo.STATUS_SCORE || '-'}}</td>
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.ESTIMATED_DISK_LIFE" | translate }}</th>
                            <td>{{ selectedDiskInfo.ESTIMATED_DISK_LIFE || '-' }}</td>
                        </tr>                        
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.PROBABILITY_OF_ERROR_WITHIN_THE_YEAR" | translate }}</th>
                            <td>{{ selectedDiskInfo.PROBABILITY_OF_ERROR_WITHIN_THE_YEAR || '-' }}</td>
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.DISK_SELF_TEST" | translate }} </th>
                            <td>{{ selectedDiskInfo.DISK_SELF_TEST || '-' }} </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!--선택된 Disk를 보여준다.-->
                <div class="con-info" ng-show="selectedDiskInfo">
                    <div class="info-data">{{ "FAULT_ANALYSIS.DISK_ANALYSIS" | translate }}</div>
                    <table class="table-data">
                        <colgroup>
                            <col width="250px">
                            <col width="*">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.FATAL_ERROR_COUNT" | translate }}</th>
                            <td>{{ selectedDiskInfo.FATAL_ERROR_COUNT || '-'}}</td>
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.DISK_TEMPERATURE" | translate }}</th>
                            <td>{{ selectedDiskInfo.DISK_TEMPERATURE || '-' }}</td>
                        </tr>                        
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.AMOUNT_OF_BLOCK_AVAILABLE" | translate }}</th>
                            <td>{{ selectedDiskInfo.AMOUNT_OF_BLOCK_AVAILABLE || '-' }}</td>
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.DISK_USAGE" | translate }}</th>
                            <td>{{ selectedDiskInfo.DISK_USAGE || '-' }}</td>
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.READ_AND_WRITE_DATA_SIZE" | translate }} </th>
                            <td>{{ selectedDiskInfo.READ_DATA_SIZE || '-' }} / {{selectedDiskInfo.WRITE_DATA_SIZE || '-'}}</td>
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.USAGE_AND_OPERATION_TIME" | translate }}</th>
                            <td>{{ selectedDiskInfo.USAGE_TIME || '-' }} / {{selectedDiskInfo.OPERATION_TIME|| '-'}}</td>
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.NUMBER_OF_ABNORMAL_TERMINATIONS" | translate }}</th>
                            <td>{{ selectedDiskInfo.NUMBER_OF_ABNORMAL_TERMINATIONS || '-' }}</td>
                        </tr>
                        <tr>
                            <th>{{ "FAULT_ANALYSIS.DATA_INTEGRITY_ERROR" | translate }}</th>
                            <td>{{ selectedDiskInfo.DATA_INTEGRITY_ERROR || '-' }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
