<div class="contents" data-ng-init="init()">
    <div class="content">
        <div class="box_wrap box_guide2">
            <div class="content-area">
                <div class="title_line">
                    <h4>{{ "FAULT_ANALYSIS.FAULT_AND_FAILURE_DASHBOARD" | translate }}</h4>
                    <div class="con-subtit">{{ "FAULT_ANALYSIS.OVERALL_MONITORING_DESCRIPTION" | translate }}</div>
                </div>
                <div>BMC Image</div>
                <div>System Fan</div>
                <div>Memory</div>
                <div>CPU</div>
                <div>Storage</div>

            </div>
        </div>
    </div>
</div>