<div class="bmc-contents home" data-ng-init="init()">
    <div class="home-content bmc-home">
        <div class="left45">
            <div class="top70">

                <div class="bmc-main">

                    <div class="top-left40">
                        <div class="bmc_box_wrap">
                            <div class="box_line">
                                <h4 class="box_tit">{{ "SERVER_HEALTH.SENSOR_READING" | translate }}</h4>
                            </div>
                            <div class="bmc_box_wrap5" style="padding-top:0; width:100%;">
                                <div class="scroll-table" style="height: 450px; margin-bottom: 35px;">
                                    <table class="home_table-view">
                                        <tbody>
                                            <tr ng-repeat="sensor in sensorInfo.SENSOR | filter: {STATUS}"
                                                ng-click="didClickSensor(sensor)">
                                                <td><img ng-src="images/icon_{{sensor.STATUS}}.png" alt="warning"></td>
                                                <td>{{ sensor.NAME }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="top-right60">
                        <div class="bmc_box_wrap">
                            <div class="box_line">
                                <h4 class="box_tit">{{ "HOME.BMC_SYSTEM_INFORMATION" | translate }}</h4>
                            </div>
                            <div class="homebmc-wrap table">
                                <div>
                                    <div class="info-data">{{ "HOME.FIRMWARE_INFORMATION" | translate }}</div>
                                    <table class="table-data">
                                        <tbody>
                                            <tr>
                                                <th>{{ "HOME.FIRMWARE_VERSION" | translate }}</th>
                                                <td>
                                                    <div class="version"> {{ systemInfo.MC.IPMIFW_VERSION || '-' }}
                                                    </div>
                                                    <div class="bmc_box_icon">
                                                        <a href="" ng-click="onRefresh('8')">
                                                            <img src="./images/icon_refresh.png">
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>{{ "FIRMWARE_BUILD_TIME" | translate }}</th>
                                                <td ng-controller="TimerController">{{ systemInfo.MC.IPMIFW_BLDTIME}}
                                                </td>
                                            </tr>
                                            <tr class="down">
                                                <th>{{ "KERNEL_VERSION" | translate }}</th>
                                                <td>{{ systemInfo.MC.KERNAL_VERSION || '-' }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div style="margin-top: 30px;">
                                    <div class="info-data">{{ "NETWORK_INFORMATION" | translate }}</div>
                                    <table class="table-data">
                                        <tbody>
                                            <tr>
                                                <th>{{ "MAC_ADDRESS" | translate }}</th>
                                                <td>{{ systemInfo.LAN.MAC_ADDRESS || '-' }}</td>
                                            </tr>
                                            <tr>
                                                <th>{{ "HOME.V4_NETWORK_MODE" | translate }}</th>
                                                <td>{{ systemInfo.LAN.IPV4_NETWORK_MODE || '-' }}</td>
                                            </tr>
                                            <tr>
                                                <th>{{ "HOME.IP_V4_ADDRESS" | translate }}</th>
                                                <td>{{ systemInfo.LAN.IPV4_ADDRESS || '-' }}</td>
                                            </tr>
                                            <tr>
                                                <th>{{ "HOME.V6_NETWORK_MODE" | translate }}</th>
                                                <td>{{ systemInfo.LAN.IPV6_NETWORK_MODE || '-' }}</td>
                                            </tr>
                                            <tr class="down">
                                                <th>{{ "HOME.IP_V6_ADDRESS" | translate }}</th>
                                                <td>{{ systemInfo.LAN.IPV6_ADDRESS || '-' }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="bmc-main">
                <div class="bottom30">
                    <div class="bmc_box_wrap bmc-bottom" style="height: 93.5%;">
                        <div class="box_line"></div>
                        <div class="power-consumption">
                            <div class="bmc_box_wrap3">
                                <div class="info-data">Power Consumption</div>
                            </div>
                            <div class="bmc_box_wrap5" style="width:115%; height:195px;">
                                <div class="graph-container" style="height:100%;">
                                    <div style="font-size: 10px; display: flex; position: absolute; top: -15%; right: 10%;">(min)</div>
                                    <div class="home_tab_content">
                                        <div class="graph">
                                            <div class="ct-chart" id="home_graph_min"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tmperature">
                            <div class="bmc_box_wrap3">
                                <div class="info-data">Temperature</div>
                            </div>

                            <div class="bmc_box_wrap5" style="width:115%; height:195px;">
                                <div class="graph-container" style="height:100%;">
                                    <div class="home_tab_content">
                                        <div class="graph">
                                            <div class="ct-chart" id="temperatureChart"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="right55">
            <div class="bmc-main">
                <div class="bmc_box_wrap" style="height:99%;">

                    <div class="right-top">
                        <div class="box_line">
                            <h4 class="box_tit">{{ "HOME.HARDWARE_STATUS" | translate }}</h4>
                            <div class="box_icon">
                                <a href="" ng-click="onRefresh('8')"><img src="./images/icon_refresh.png"></a>
                            </div>
                        </div>

                        <div class="right-left">
                            <div class="homebmc-wrap">
                                <div class="summary-wrapper">
                                    <div class="summary">
                                        <div>
                                            <span class="temp p1"><i id="hwstatus-p1" class="tmp"></i></span>
                                            <span class="temp p2"><i id="hwstatus-p2" class="tmp"></i></span>
                                            <span class="temp p3"><i id="hwstatus-p3" class="tmp"></i></span>
                                            <span class="temp p4"><i id="hwstatus-p4" class="tmp"></i></span>
                                            <span class="temp p5"><i id="hwstatus-p5" class="tmp"></i></span>
                                            <span class="temp p6"><i id="hwstatus-p6" class="tmp"></i></span>
                                            <span class="temp p7"><i id="hwstatus-p7" class="tmp"></i></span>
                                            <span class="temp p8"><i id="hwstatus-p8" class="tmp"></i></span>
                                            <span class="temp p9"><i id="hwstatus-p9" class="tmp"></i></span>
                                            <span class="temp p10"><i id="hwstatus-p10" class="tmp"></i></span>
                                            <span class="temp p11"><i id="hwstatus-p11" class="tmp"></i></span>
                                            <span class="temp p12"><i id="hwstatus-p12" class="tmp"></i></span>
                                            <span class="temp p13"><i id="hwstatus-p13" class="tmp"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="tmp-container">
                                    <img src="./images/new_board.png" id="statuspower"
                                        style="max-height: 280px; padding: 10px 0 10px 15px; margin-top: 5%;">
                                </div>
                            </div>
                        </div>

                        <div class="right-right">
                            <div class="tmppower-shadow">
                                <div class="bmc_tmppower">

                                    <table class="cmm-table-data">
                                        <tbody>
                                            <tr class="DIMM1_CH_A">
                                                <th class="tmp-text">DIMM1CH A</th>
                                                <th class="tmp-text2"> : </th>
                                                <td id="DIMM1_CH_A">
                                                    {{ healthSummary.DIMM1_CH_A >= 255 ? 0 : healthSummary.DIMM1_CH_A }}
                                                </td>
                                            </tr>
                                            <tr class="DIMM1_CH_B">
                                                <th class="tmp-text">DIMM1CH B</th>
                                                <th class="tmp-text2"> : </th>
                                                <td id="DIMM1_CH_B">
                                                    {{ healthSummary.DIMM1_CH_B >= 255 ? 0 : healthSummary.DIMM1_CH_B }}
                                                </td>
                                            </tr>
                                            <tr class="DIMM1_CH_C">
                                                <th class="tmp-text">DIMM1CH C</th>
                                                <th class="tmp-text2"> : </th>
                                                <td id="DIMM1_CH_C">
                                                    {{ healthSummary.DIMM1_CH_C >= 255 ? 0 : healthSummary.DIMM1_CH_C || '0' }}
                                                </td>
                                            </tr>
                                            <tr class="DIMM1_CH_D">
                                                <th class="tmp-text">DIMM1CH D</th>
                                                <th class="tmp-text2"> : </th>
                                                <td id="DIMM1_CH_D">
                                                    {{ healthSummary.DIMM1_CH_D >= 255 ? 0 : healthSummary.DIMM1_CH_D || '0' }}
                                                </td>
                                            </tr>
                                            <tr class="DIMM2_CH_A">
                                                <th class="tmp-text">DIMM2CH A</th>
                                                <th class="tmp-text2"> : </th>
                                                <td id="DIMM2_CH_A">
                                                    {{ healthSummary.DIMM2_CH_A >= 255 ? 0 : healthSummary.DIMM2_CH_A  }}
                                                </td>
                                            </tr>
                                            <tr class="DIMM2_CH_B">
                                                <th class="tmp-text">DIMM2CH B</th>
                                                <th class="tmp-text2"> : </th>
                                                <td id="DIMM2_CH_B">
                                                    {{ healthSummary.DIMM2_CH_B >= 255 ? 0 : healthSummary.DIMM2_CH_B  }}
                                                </td>
                                            </tr>
                                            <tr class="DIMM2_CH_C">
                                                <th class="tmp-text">DIMM2CH C</th>
                                                <th class="tmp-text2"> : </th>
                                                <td id="DIMM2_CH_C">
                                                    {{ healthSummary.DIMM2_CH_C >= 255 ? 0 : healthSummary.DIMM2_CH_C || '0'  }}
                                                </td>
                                            </tr>
                                            <tr class="DIMM2_CH_D">
                                                <th class="tmp-text">DIMM2CH D</th>
                                                <th class="tmp-text2"> : </th>
                                                <td id="DIMM2_CH_D">
                                                    {{ healthSummary.DIMM2_CH_D >= 255 ? 0 : healthSummary.DIMM2_CH_D || '0'  }}
                                                </td>
                                            </tr>
                                            <tr class="tmp1">
                                                <th class="tmp-text">Temperature 1 </th>
                                                <th class="tmp-text3"> : </th>
                                                <td id="tmp1">{{ healthSummary.Temperature[0] }}</td>
                                            </tr>
                                            <tr class="tmp2">
                                                <th class="tmp-text">Temperature 2</th>
                                                <th class="tmp-text3"> : </th>
                                                <td id="tmp2">{{ healthSummary.Temperature[1] }}</td>
                                            </tr>
                                            <tr class="tmp3">
                                                <th class="tmp-text">Temperature 3</th>
                                                <th class="tmp-text3"> : </th>
                                                <td id="tmp3">{{ healthSummary.Temperature[2] }}</td>
                                            </tr>
                                            <tr class="tmp4">
                                                <th class="tmp-text">Temperature 4</th>
                                                <th class="tmp-text3"> : </th>
                                                <td id="tmp4">{{ healthSummary.Temperature[3] }}</td>
                                            </tr>
                                            <tr class="tmp5">
                                                <th class="tmp-text">Temperature 5</th>
                                                <th class="tmp-text3"> : </th>
                                                <td id="tmp5">{{ healthSummary.Temperature[4] }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="right-bottom">

                        <div class="bottom-left65">
                            <div class="left-top50">

                                <div class="kvmoverip">
                                    <div class="bmc_box_wrap4">
                                        <div class="quick-com-text">
                                            KVM over IP
                                        </div>
                                        <div class="kvm-imagebox">
                                            <img src="./images/keti.jpeg" id="kvm-img">
                                            <div></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="quickcommand">
                                    <div class="bmc_box_wrap4">
                                        <div class="quick-com-text">
                                            Quick Command
                                        </div>

                                        <div class="quick-com-btn">
                                            <div class="bmc-row">
                                                <div class="col">
                                                    <button class="quick-btn" data-ng-click="onClick_com1()"> Sol Enable
                                                    </button>
                                                </div>
                                                <div class="col">
                                                    <button class="quick-btn" data-ng-click="onClick_com4()">USB
                                                        unmount</button>
                                                </div>
                                                <div class="col">
                                                    <button class="quick-btn" data-ng-click="onClick_com6()">Alert
                                                        disable</button>
                                                </div>
                                            </div>
                                            <div class="bmc-row">
                                                <div class="col">
                                                    <button class="quick-btn" data-ng-click="onClick_com2()"> Sol
                                                        Disable </button>
                                                </div>
                                                <div class="col">
                                                    <button class="quick-btn" data-ng-click="onClick_com5()">LOG
                                                        clear</button>
                                                </div>
                                                <div class="col">
                                                    <button class="quick-btn" data-ng-click="onClick_com7()">Alert
                                                        Enable</button>
                                                </div>
                                            </div>
                                            <div class="bmc-row">
                                                <div class="col">
                                                    <button class="quick-btn" data-ng-click="onClick_com3()"> Console
                                                    </button>
                                                </div>
                                                <div class="col2">
                                                    <button class="quick-btn" ng-click="onRefresh('8')">status
                                                        update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="left-bottom50">
                                    <div class="bmc_box_wrap">
                                        <div class="box_line"></div>
                                        <div class="homebmc-wrap">
                                            <div class="info-data">BMC Status</div>
                                            <div class="status">

                                                <div class="status-left">
                                                    <div class="bmc_box_wrap5">
                                                        <div class="status-img-l">
                                                            <img src="./images/status.png" id="status-img">
                                                        </div>
                                                        <div class="status-img-r">
                                                            <table class="status-img-table">
                                                                <tbody>
                                                                    <tr>
                                                                        <th class="img-title">Normal</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="img-text">Critical : <span id="critical-count">0</span></th>                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="status-right">
                                                    <div class="bmc_box_wrap5">
                                                        <table class="status-table">
                                                            <tbody>
                                                                <tr>
                                                                    <th class="status-text1">Server Name</th>
                                                                    <td class="status-text2"> KETI BMC </td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="status-text1">Network</th>
                                                                    <td class="status-text2">
                                                                        {{ systemInfo.LAN.IPV4_NETWORK_MODE || '-' }}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="status-text1">BMC Uptime</th>
                                                                    <td class="status-text2">
                                                                        {{ extractDate(systemInfo.MC.IPMIFW_BLDTIME) || '-' }}
									 </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="bottom-right35">
                            <div class="bmc_box_wrap">
                                <div class="box_line"></div>
                                <div class="homebmc-wrap">
                                    <div class="info-data">Virtual USB</div>

                                    <table class="Virtual-table" style="display: flex; justify-content: center;">
                                        <tbody>
                                            <tr ng-repeat="item in homefileList">
                                                <th class="usb-text">{{ item.ID }}</th>
                                                <td>
                                                    <button ng-class="{'usb-on': item.INSERTED === 'O',
                                                    'usb-off': item.INSERTED === 'X',
                                                    'usb-off-acvi': item.INSERTED === 'X',
                                                    'usb-on-active': item.INSERTED === 'O'}"
                                                        ng-click="toggleInserted(item)">ON
                                                    </button>
                                                    <button ng-class=" {'usb-on': item.INSERTED==='X',
                                                        'usb-off' : item.INSERTED==='O',
                                                        'usb-off-active' : item.INSERTED==='X' }"
                                                        ng-click="toggleInserted(item)">OFF
                                                    </button>
                                                </td>
                                                <button class="usb-add">
                                                    <a href="#!/virtualMediaUsb" style="color:#0b4daf">Add USB</a>
                                                </button>                                                
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>