<div class="col-sm-3 home-middle">
    <div class="box_wrap">
        <div class="box_line">
            <h4 class="box_tit">{{ "SERVER_HEALTH.POWER_USAGE" | translate }}</h4>
            <!--            <div class="box_icon">-->
            <!--                <button type="button" class="btn btn-warning btn-xs" ng-click="onClick()">{{ "REMOTE_CONTROL.KVM_LAUNCHER" | translate }}</button>-->
            <!--            </div>-->
        </div>
        <div class="kvm">
            <!--<img ng-src="{{ kvmImage }}">-->
            <!-- [수정] Sample Image 출력이 아닌 그래프 출력 -->
            <div class="ct-chart" id="home_graph_min"></div>
            <!-- <div class="graph" style="height: 210px;"><img src="./images/graphSample.png"></div> -->

            <div class="alginC mt10">
                <!-- [수정] 버튼 동작 Refresh는 그래프 새로고침 , Status는 Server Health 페이지 이동 -->
                <!-- <button class="btn btn-blue">Refresh</button>
                <button class="btn btn-black">Status</button> -->

                <button type="button" class="btn btn-blue" ng-click="onRefreshPC()">Refresh</button>
                <button type="button" class="btn btn-black" ng-click="onStatus()">Status</button>
                <!-- <button type="button" class="btn btn-blue" ng-click="save()">{{ "SAVE" | translate }}</button> -->
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3 home-middle">
    <!-- Power Utilization -->
    <div class="box_wrap">
        <div class="box_line">
            <h4 class="box_tit">{{ "HOME.POWER_USAGE" | translate }}</h4>
            <div class="box_icon">
                <a href="" ng-click="onRefresh('5')"><img src="./images/icon_refresh.png"></a>
            </div>
        </div>

        <div class="progress_wrap">
            <div class="col-sm-12">
                <div class="subtit">Module 1 Watt</div>
                <!-- [수정] 주석된 부분이 실제 값 으로 수행 cf>progressbar의 value는 {{}} 로 안하고 바로 scope변수 사용가능한듯-->
                <uib-progressbar class="progress_gr" value="power1Vol" type="{{powerUsageType[0]}}"
                    max="550"></uib-progressbar>
                <!-- <uib-progressbar class="progress_gr" value="200" type="{{powerUsageType[0]}}" max="550"></uib-progressbar> -->
            </div>
            <div class="col-sm-12">
                <div class="subtit">FAN 1 RPM</div>
                <uib-progressbar class="progress_gr" value="power1Fan" max="20000" type="{{powerUsageType[1]}}"
                    max="20000"></uib-progressbar>
                <!-- <uib-progressbar class="progress_gr"  value="5500" max="20000" type="{{powerUsageType[1]}}" max="20000"></uib-progressbar> -->
            </div>
            <div class="col-sm-12">
                <div class="subtit">Module 2 Watt</div>
                <uib-progressbar class="progress_gr2" value="power2Vol" type="{{powerUsageType[2]}}"
                    max="550"></uib-progressbar>
                <!-- <uib-progressbar class="progress_gr2"  value="220" type="{{powerUsageType[2]}}" max="550"></uib-progressbar> -->
            </div>
            <div class="col-sm-12">
                <div class="subtit">FAN 2 RPM</div>
                <uib-progressbar class="progress_gr2" value="power2Fan" max="20000" type="{{powerUsageType[3]}}"
                    max="20000"></uib-progressbar>
                <!-- <uib-progressbar class="progress_gr2"  value="3000" max="20000" type="{{powerUsageType[3]}}" max="20000"></uib-progressbar> -->
            </div>
        </div>
    </div>
</div>

<!-- Temp, Speed -->
<div class="col-sm-3 home-middle">
    <div class="box_wrap">
        <div class="box_line">
            <h4 class="box_tit">{{ "HOME.TEMPERATURE" | translate }}</h4>
            <div class="box_icon">
                <a href="" ng-click="onRefresh('2')"><img src="./images/icon_refresh.png"></a>
            </div>
        </div>
        <div class="temp-graph">
            <div class="row">
                <div class="col-sm-6">
                    <div radial-indicator="indicatorOption" radial-indicator-model="cpu1Temp"
                        data-radial-indicator-id="cpu1Temp"></div>
                    <p style="margin-top: -10px">{{ "HOME.CPU_1" | translate }}</p>
                    <!-- [수정] 이부분 margin 나머지 거랑 맞춰서 해야할듯  -->
                </div>

                <div class="col-sm-6">
                    <div radial-indicator="indicatorOption" radial-indicator-model="cpu2Temp"
                        data-radial-indicator-id="cpu2Temp"></div>
                    <p>{{ "HOME.CPU_2" | translate }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div radial-indicator="indicatorOption" radial-indicator-model="systemBoardTemp"
                        data-radial-indicator-id="boardTemp"></div>
                    <p>{{ "HOME.BOARD" | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Fan RPM -->
<div class="col-sm-3 home-middle">
    <div class="box_wrap">
        <div class="box_line">
            <h4 class="box_tit">{{ "HOME.FAN_RPM" | translate }}</h4>
            <div class="box_icon">
                <a href="" ng-click="onRefresh('6')"><img src="./images/icon_refresh.png"></a>
            </div>
        </div>
        <div class="temp-graph">
            <div>
                <ng-chartist id='graph_id' class="ct-chart-bar" data="chart.data" options="chart.barOptions"
                    type={{'Bar'}} tooltips="false"></ng-chartist>
            </div>
        </div>
    </div>
</div>

<!-- EVENT LIST
<div class="col-sm-6 info">
    <div class="box_wrap">
        <div class="box_line">
            <h4 class="box_tit">{{ "HOME.EVENT_LIST" | translate }}</h4>
            <div class="box_icon"><a href="" ng-click="onRefresh('1')"><img src="./images/icon_refresh.png"></a></div>
        </div>
        <div class="event-list">
            <div class="scroll">
                <table class="table-normal">
                    <colgroup>
                        <col width="20%">
                        <col width="25%">
                        <col width="15%">
                        <col width="*">
                    </colgroup>
                    <tbody>
                    <tr ng-repeat="row in eventList">
                        <td>{{ row.TIME }}</td>
                        <td>{{ row.NAME }}</td>
                        <td>{{ row.TYPE }}</td>
                        <td>{{ row.DESCRIPTION }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
-->