<div class="contents" data-ng-init="init()">
    <!-- row content -->
    <div class="content">
        <div class="box_wrap box_guide2">
            <div class="content-area">
                <div class="title_line">
                    <h4>{{ "FRU.FRU_INFORMATION" | translate }}</h4>
                    <div class="con-subtit">{{ "FRU.FRU_INFORMATION_DESCRIPTION" | translate }}</div>
                </div>


                <!-- <div class="background-image"></div> -->
                <img src="./images/new_board.png" class="background-image">


                    <div class="table-area" style="display: flex;">
                        <div class="con-info" style="position: relative; width:30%; flex-direction: column; margin-left:10%; margin-top: 4.5%">
                            <div class="info-data">{{ "BASIC_INFORMATION" | translate }}</div>
                            <table class="table-data">
                                <colgroup>
                                    <col width="250px">
                                    <col width="*">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>{{ "FRU.FRU_ID" | translate }}</th>
                                        <td>
                                            <select class="form-control input-sm" style="width:200px;"
                                                ng-model="fruInfo">
                                                <!-- [수정3] 하드코딩 출력 빼고 -->
                                                <!-- <option>BMC #01</option> -->
                                                <option ng-repeat="fru in fruInfos" ng-value="fru">{{ fru.ID }}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="down">
                                        <!-- [수정3] 하드코딩되었던 부분 변수사용하도록 수정 -->
                                        <th>{{ "FRU.FRU_DEVICE_DESC" | translate }}</th>
                                        <td>{{ fruInfo.DEVICE || '-' }}</td>
                                        <!-- <td>Sample Device</td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="con-info" style="position: relative; width:30%; flex-direction: column; margin-left:23%; margin-top: 4%;">
                            <div class="info-data">{{ "FRU.CHASSIS_INFORMATION" | translate }}</div>
                            <table class="table-data">
                                <colgroup>
                                    <col width="250px">
                                    <col width="*">
                                </colgroup>
                                <tbody>
                                    <!-- [수정3] 하드코딩되었던 부분 변수사용하도록 수정 -->
                                    <tr>
                                        <th>{{ "FRU.CHASSIS_TYPE" | translate }}</th>
                                        <td>{{ fruInfo.CHASSIS.TYPE || '-' }}</td>
                                        <!-- <td>Physical</td> -->
                                    </tr>
                                    <tr>
                                        <th>{{ "FRU.CHASSIS_PART_NUMBER" | translate }}</th>
                                        <td>{{ fruInfo.CHASSIS.PART_NUM || '-' }}</td>
                                        <!-- <td>03</td> -->
                                    </tr>
                                    <tr class="down">
                                        <th>{{ "FRU.CHASSIS_SERIAL" | translate }}</th>
                                        <td>{{ fruInfo.CHASSIS.SERIAL || '-' }}</td>
                                        <!-- <td>6CU252VN6P</td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        </div>
                        <div class="table-area" style="display: flex;">
                        <div class="con-info" style="position: relative; width:30%; flex-direction: column; margin-left:10%; margin-top: 7%;">
                            <div class="info-data">{{ "FRU.PRODUCT_INFORMATION" | translate }}</div>
                            <table class="table-data">
                                <colgroup>
                                    <col width="250px">
                                    <col width="*">
                                </colgroup>
                                <tbody>
                                    <!-- [수정3] 하드코딩되었던 부분 변수사용하도록 수정 -->
                                    <tr>
                                        <th>{{ "FRU.PRODUCT_MANUFACTURE" | translate }}</th>
                                        <td>{{ fruInfo.PRODUCT.MFG || '-' }}</td>
                                        <!-- <td>KETI</td> -->
                                    </tr>
                                    <tr>
                                        <th>{{ "FRU.PRODUCT_NAME" | translate }}</th>
                                        <td>{{ fruInfo.PRODUCT.NAME || '-' }}</td>
                                        <!-- <td>BMC_PRODUCT</td> -->
                                    </tr>
                                    <tr>
                                        <th>{{ "FRU.PRODUCT_PART_NUMBER" | translate }}</th>
                                        <td>{{ fruInfo.PRODUCT.PART_NUM || '-' }}</td>
                                        <!-- <td>02</td> -->
                                    </tr>
                                    <tr>
                                        <th>{{ "FRU.PRODUCT_VERSION" | translate }}</th>
                                        <td>{{ fruInfo.PRODUCT.VERSION || '-' }}</td>
                                        <!-- <td>v1.0</td> -->
                                    </tr>
                                    <tr class="down">
                                        <th>{{ "FRU.PRODUCT_SERIAL" | translate }}</th>
                                        <td>{{ fruInfo.PRODUCT.SERIAL || '-' }}</td>
                                        <!-- <td>6CU252VN5D</td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="con-info" style="position: relative; width:30%; flex-direction: column; margin-left:23%; margin-top: 7%;">
                            <div class="info-data">{{ "FRU.BOARD_INFORMATION" | translate }}</div>
                            <table class="table-data">
                                <colgroup>
                                    <col width="250px">
                                    <col width="*">
                                </colgroup>
                                <tbody>
                                    <!-- [수정3] 하드코딩되었던 부분 변수사용하도록 수정 -->
                                    <tr>
                                        <th>{{ "FRU.BOARD_MANUFACTURE" | translate }}</th>
                                        <td>{{ fruInfo.BOARD.MFG || '-' }}</td>
                                        <!-- <td>KETI</td> -->
                                    </tr>
                                    <tr>
                                        <th>{{ "FRU.BOARD_PRODUCT" | translate }}</th>
                                        <td>{{ fruInfo.BOARD.PRODUCT || '-' }}</td>
                                        <!-- <td>BMC_BOARD</td> -->
                                    </tr>
                                    <tr>
                                        <th>{{ "FRU.BOARD_SERIAL" | translate }}</th>
                                        <td>{{ fruInfo.BOARD.SERIAL || '-' }}</td>
                                        <!-- <td>6CU252VN4E</td> -->
                                    </tr>
                                    <tr>
                                        <th>{{ "FRU.BOARD_PART_NUMBER" | translate }}</th>
                                        <td>{{ fruInfo.BOARD.PART_NUM || '-' }}</td>
                                        <!-- <td>01</td> -->
                                    </tr>
                                    <tr class="down">
                                        <th>{{ "FRU.BOARD_MANUFACTURE_DATE" | translate }}</th>
                                        <td>{{ fruInfo.BOARD.MFG_DATE || '-' }}</td>
                                        <!-- <td>2021-11-16.15:01:55</td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="btn-style" style="margin-top:60px">
                        <button type="button" class="btn btn-blue" ng-click="goModify()">Modify</button>
                    </div>

                </div>

        </div>
    </div>
    <!-- row content -->
</div>