<div class="contents" data-ng-init="init()">
    <!-- row content -->
    <div class="content">
        <div class="box_wrap box_guide2">
            <div class="content-area">
                <div class="title_line">
                    <h4>{{ "FRU.FRU_INFORMATION" | translate }}</h4>
                    <div class="con-subtit">{{ "FRU.FRU_INFORMATION_DESCRIPTION" | translate }}</div>
                </div>

                <div class="table-area" style="display: flex;">
                    <div class="con-info"
                        style="position: relative; width:30%; flex-direction: column; margin-left:10%; margin-top: 4.5%">
                        <div class="info-data">{{ "BASIC_INFORMATION" | translate }}</div>
                        <table class="table-data">
                            <colgroup>
                                <col width="250px">
                                <col width="*">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>{{ "FRU.FRU_ID" | translate }}</th>
                                    <td>
                                        <input type="text" class="form-control input-sm" style="width:200px;"
                                            ng-model="fruInfo.ID" ng-disabled="disabled_id">
                                    </td>
                                </tr>
                                <tr class="down">
                                    <th>{{ "FRU.FRU_DEVICE_DESC" | translate }}</th>
                                    <td>
                                        <input type="text" class="form-control input-sm" style="width:200px;"
                                            ng-model="fruInfo.DEVICE">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="con-info"
                        style="position: relative; width:30%; flex-direction: column; margin-left:23%; margin-top: 4%;">
                        <div class="info-data">{{ "FRU.CHASSIS_INFORMATION" | translate }}</div>
                        <table class="table-data">
                            <colgroup>
                                <col width="250px">
                                <col width="*">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>{{ "FRU.CHASSIS_TYPE" | translate }}</th>
                                    <td><input type="text" class="form-control input-sm" style="width:200px;"
                                            ng-model="fruInfo.CHASSIS.TYPE"></td>
                                </tr>
                                <tr>
                                    <th>{{ "FRU.CHASSIS_PART_NUMBER" | translate }}</th>
                                    <td><input type="text" class="form-control input-sm" style="width:200px;"
                                            ng-model="fruInfo.CHASSIS.PART_NUM"></td>
                                </tr>
                                <tr class="down">
                                    <th>{{ "FRU.CHASSIS_SERIAL" | translate }}</th>
                                    <td><input type="text" class="form-control input-sm" style="width:200px;"
                                            ng-model="fruInfo.CHASSIS.SERIAL"></td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>

                </div>
                <div class="table-area" style="display: flex;">
                    <div class="con-info"
                        style="position: relative; width:30%; flex-direction: column; margin-left:10%; margin-top: 7%;">
                        <div class="info-data">{{ "FRU.PRODUCT_INFORMATION" | translate }}</div>
                        <table class="table-data">
                            <colgroup>
                                <col width="250px">
                                <col width="*">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>{{ "FRU.BOARD_MANUFACTURE" | translate }}</th>
                                    <td><input type="text" class="form-control input-sm" style="width:200px;"
                                            ng-model="fruInfo.PRODUCT.MFG"></td>
                                </tr>
                                <tr>
                                    <th>{{ "FRU.PRODUCT_NAME" | translate }}</th>
                                    <td><input type="text" class="form-control input-sm" style="width:200px;"
                                            ng-model="fruInfo.PRODUCT.NAME"></td>
                                </tr>
                                <tr>
                                    <th>{{ "FRU.PRODUCT_PART_NUMBER" | translate }}</th>
                                    <td><input type="text" class="form-control input-sm" style="width:200px;"
                                            ng-model="fruInfo.PRODUCT.PART_NUM"></td>
                                </tr>
                                <tr>
                                    <th>{{ "FRU.PRODUCT_VERSION" | translate }}</th>
                                    <td><input type="text" class="form-control input-sm" style="width:200px;"
                                            ng-model="fruInfo.PRODUCT.VERSION"></td>
                                </tr>
                                <tr class="down">
                                    <th>{{ "FRU.PRODUCT_SERIAL" | translate }}</th>
                                    <td><input type="text" class="form-control input-sm" style="width:200px;"
                                            ng-model="fruInfo.PRODUCT.SERIAL"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="con-info"  style="position: relative; width:30%; flex-direction: column; margin-left:23%; margin-top: 7%;">
                        <div class="info-data">{{ "FRU.BOARD_INFORMATION" | translate }}</div>
                        <table class="table-data">
                            <colgroup>
                                <col width="250px">
                                <col width="*">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>{{ "FRU.BOARD_MANUFACTURE" | translate }}</th>
                                    <td><input type="text" class="form-control input-sm" style="width:200px;"
                                            ng-model="fruInfo.BOARD.MFG"></td>
                                </tr>
                                <tr>
                                    <th>{{ "FRU.BOARD_PRODUCT" | translate }}</th>
                                    <td><input type="text" class="form-control input-sm" style="width:200px;"
                                            ng-model="fruInfo.BOARD.PRODUCT"></td>
                                </tr>
                                <tr>
                                    <th>{{ "FRU.BOARD_SERIAL" | translate }}</th>
                                    <td><input type="text" class="form-control input-sm" style="width:200px;"
                                            ng-model="fruInfo.BOARD.SERIAL"></td>
                                </tr>
                                <tr>
                                    <th>{{ "FRU.BOARD_PART_NUMBER" | translate }}</th>
                                    <td><input type="text" class="form-control input-sm" style="width:200px;"
                                            ng-model="fruInfo.BOARD.PART_NUM"></td>
                                </tr>
                                <tr class="down">
                                    <th>{{ "FRU.BOARD_MANUFACTURE_DATE" | translate }}</th>
                                    <td><input type="text" class="form-control input-sm" style="width:200px;"
                                            ng-model="fruInfo.BOARD.MFG_DATE"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <img src="./images/new_board.png" class="background-image">

                <div>
                    <div class="btn-style modify-btn">
                        <button type="button" class="btn btn-blue" ng-click="confirm()">{{ "CONFIRM" | translate }}</button>
                        <button type="button" class="btn btn-black" ng-click="goBack()">{{ "CANCEL" | translate }}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- row content -->
</div>