<div class="col-sm-4 graph-bar">
    <!-- Power Utilization -->
    <div class="box_wrap">
        <div class="box_line">
            <h4 class="box_tit">{{ "HOME.POWER_USAGE" | translate }}</h4>
            <div class="box_icon">
                <a href="" ng-click="onRefresh('5')"><img src="./images/icon_refresh.png"></a>
            </div>
        </div>

        <div class="progress_wrap">
            <div class="row">
                <div class="col-sm-6">
                    <div>Module 1 Voltage</div>
                    <uib-progressbar value="power1Vol" type="{{powerUsageType[0]}}" max="550"></uib-progressbar>
                </div>
                <div class="col-sm-6">
                    <div>FAN 1 RPM</div>
                    <uib-progressbar value="power1Fan" max="20000" type="{{powerUsageType[1]}}" max="20000"></uib-progressbar>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div>Module 2 Voltage</div>
                    <uib-progressbar value="power2Vol" type="{{powerUsageType[2]}}" max="550"></uib-progressbar>
                </div>
                <div class="col-sm-6">
                    <div>FAN 2 RPM</div>
                    <uib-progressbar value="power2Fan" max="20000" type="{{powerUsageType[3]}}" max="20000"></uib-progressbar>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Temp, Speed -->
<div class="col-sm-4 graph-bar">
    <div class="box_wrap">
        <div class="box_line">
            <h4 class="box_tit">{{ "HOME.TEMPERATURE" | translate }}</h4>
            <div class="box_icon">
                <a href="" ng-click="onRefresh('2')"><img src="./images/icon_refresh.png"></a>
            </div>
        </div>
        <div class="temp-graph">
            <div class="col-sm-4">
                <div radial-indicator="indicatorOption" radial-indicator-model="cpu1Temp" data-radial-indicator-id="cpu1Temp"></div>
                <p>{{ "HOME.CPU_1" | translate }}</p>
            </div>

            <div class="col-sm-4">
                <div radial-indicator="indicatorOption" radial-indicator-model="cpu2Temp" data-radial-indicator-id="cpu2Temp"></div>
                <p>{{ "HOME.CPU_2" | translate }}</p>
            </div>

            <div class="col-sm-4">
                <div radial-indicator="indicatorOption" radial-indicator-model="systemBoardTemp" data-radial-indicator-id="boardTemp"></div>
                <p>{{ "HOME.BOARD" | translate }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Fan RPM -->
<div class="col-sm-4 graph-bar">
    <div class="box_wrap">
        <div class="box_line">
            <h4 class="box_tit">{{ "HOME.FAN_RPM" | translate }}</h4>
            <div class="box_icon">
                <a href="" ng-click="onRefresh('6')"><img src="./images/icon_refresh.png"></a>
            </div>
        </div>
        <div class="temp-graph">
            <div>
                <ng-chartist id='graph_id' class="ct-chart-bar" data="chart.data" options="chart.barOptions" type={{'Bar'}} tooltips="false"></ng-chartist>
            </div>
        </div>
    </div>
</div>
