<div class="contents top-snb-margin" data-ng-init="init()">
    <div class="content">
        <div class="box_wrap box_guide">
            <div class="content-area">
                <div class="title_line">
                    <h4>{{ "MAINTENANCE.BMC_RESET" | translate }}</h4>
                    <div class="con-subtit">{{ "MAINTENANCE.BMC_RESET_DESCRIPTION" | translate }}</div>
                </div>

                <div class="con-info">
                    <button type="button" class="btn btn-blue" ng-click="reset()">{{ "RESET" | translate }}</button>
		            <button type="button" class="btn btn-blue" ng-click="warm_reset()"> {{ "WARM_RESET" | translate }} </button>
                </div>
            </div>
        </div>
    </div>
</div>