<div class="animation">
<!--<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>-->
        <div class="bmc bmc-power"  data-ng-init="init()" >
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title">{{ "SERVER_HEALTH.POWER_USAGE" | translate }}</p>
                    <p class="card-header-desc">{{ "SERVER_HEALTH.POWER_USAGE_DESCRIPTION" | translate }}</p>
                </div>
                <div class="card-body" >
                    <div class="row flex-nowrap gap-sm">
                        <div class="row-item">
                            <div class="card-body" >
                                <p class="card-title">{{ "SERVER_HEALTH.POWER_TODAY_TOTAL" | translate }}</p>
                                <div style="position: relative; width: 100%; height: 100%;">
                                    <canvas class="chart chart-horizontal-bar" 
                                        chart-data="powerTodayTotalData" 
                                        chart-labels="powerTodayTotalLabels" 
                                        chart-dataset-override="powerTodayTotalColors" 
                                        chart-series="powerTodaySeries"
                                        chart-options="powerTodayOptions"
                                        ></canvas>                
                                </div>

                                <div class="power-status">
                                    <p>
                                        <span>{{ "SERVER_HEALTH.POWER_LAST_HOUR" | translate }}</span>
                                        <strong class="data-1">{{ Total_lastmin || '-' }} W</strong>
                                    </p>
                                    <p>
                                        <span>{{ "SERVER_HEALTH.POWER_LAST_DAY" | translate }}</span>
                                        <strong class="data-2">{{ Total_lasthour || '-'}} W</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row-item">
                            <div class="card-body">
                                <p class="card-title">{{ "SERVER_HEALTH.POWER_HIGHEST_LOWEST" | translate }}</p>
                                <table class="mb-0 table table-bordered table-fixed">
                                    <tbody>
                                    <tr style="text-align: left;">
                                        <th>{{ "SERVER_HEALTH.PEAK_NAME" | translate }}</th>
                                        <th>{{ "SERVER_HEALTH.SENSOR" | translate }}</th>
                                        <th>{{ "SERVER_HEALTH.VALUE" | translate }}</th>
                                        <th>{{ "SERVER_HEALTH.TIME" | translate }}</th>
                                    </tr>
                                    <tr style="height: 70px; text-align: left;">
                                        <td>The Highest Peak (W)</td>
                                        <td>{{ wattInfo.PEAK_DATA.DAY.HIGHEST_PEAK.SENSOR || '-' }}</td>
                                        <td>{{ wattInfo.PEAK_DATA.DAY.HIGHEST_PEAK.VALUE.toFixed(2) || '-' }}</td>
                                        <td>{{ wattInfo.PEAK_DATA.DAY.HIGHEST_PEAK.DATETIME || '-' }}</td>
                                    </tr>
                                    <tr  class="down" style="height: 70px; text-align: left;" >
                                        <td>The Lowest Peak (W)</td>
                                        <td>{{ wattInfo.PEAK_DATA.DAY.LOWEST_PEAK.SENSOR || '-' }}</td>
                                        <td>{{ wattInfo.PEAK_DATA.DAY.LOWEST_PEAK.VALUE.toFixed(2) || '-' }}</td>
                                        <td>{{ wattInfo.PEAK_DATA.DAY.LOWEST_PEAK.DATETIME || '-' }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-title">{{ "SERVER_HEALTH.POWER_COMSUMP_GRAPH" | translate }}</p>
                        <table class="mb-0 table table-bordered">
                            <tbody>
                            <tr style="text-align: left;">
                                <th >{{ "SERVER_HEALTH.POWER_STATISTICS" | translate}}</th>
                                <th >{{ "SERVER_HEALTH.POWER_PAST_MIN" | translate}}</th>
                                <th >{{ "SERVER_HEALTH.POWER_SENSOR" | translate}}</th>
                                <th >{{ "SERVER_HEALTH.POWER_TIME" | translate}}</th>
                                <th >{{ "SERVER_HEALTH.POWER_PAST_HOUR" | translate}}</th>
                                <th >{{ "SERVER_HEALTH.POWER_SENSOR" | translate}}</th>
                                <th >{{ "SERVER_HEALTH.POWER_TIME" | translate}}</th>
                                <th >{{ "SERVER_HEALTH.POWER_PAST_24_HR" | translate}}</th>
                                <th >{{ "SERVER_HEALTH.POWER_SENSOR" | translate}}</th>
                                <th >{{ "SERVER_HEALTH.POWER_TIME" | translate}}</th>
                            </tr>
                            <tr style="text-align: left;">
                                <td>Minimum (W)</td>
                                    <td>{{ wattInfo.PEAK_DATA.LAST_10_MIN.LOWEST_PEAK.VALUE.toFixed(2) || '-' }}</td>
                                    <td>{{ wattInfo.PEAK_DATA.LAST_10_MIN.LOWEST_PEAK.SENSOR || '-' }}</td>
                                    <td>{{ wattInfo.PEAK_DATA.LAST_10_MIN.LOWEST_PEAK.DATETIME || '-' }}</td>
                                    <td>{{ wattInfo.PEAK_DATA.LAST_1_HOUR.LOWEST_PEAK.VALUE.toFixed(2) || '-' }}</td>
                                    <td>{{ wattInfo.PEAK_DATA.LAST_1_HOUR.LOWEST_PEAK.SENSOR || '-' }}</td>
                                    <td>{{ wattInfo.PEAK_DATA.LAST_1_HOUR.LOWEST_PEAK.DATETIME || '-' }}</td>
                                    <td>{{ wattInfo.PEAK_DATA.LAST_10_HOUR.LOWEST_PEAK.VALUE.toFixed(2) || '-' }}</td>
                                    <td>{{ wattInfo.PEAK_DATA.LAST_10_HOUR.LOWEST_PEAK.SENSOR || '-' }}</td>
                                    <td>{{ wattInfo.PEAK_DATA.LAST_10_HOUR.LOWEST_PEAK.DATETIME || '-' }}</td>
                            </tr>
                            <tr style="text-align: left;">
                                <td>Maximum (W)</td>
                                    <td>{{ wattInfo.PEAK_DATA.LAST_10_MIN.HIGHEST_PEAK.VALUE.toFixed(2) || '-' }}</td>
                                    <td>{{ wattInfo.PEAK_DATA.LAST_10_MIN.HIGHEST_PEAK.SENSOR || '-' }}</td>
                                    <td>{{ wattInfo.PEAK_DATA.LAST_10_MIN.HIGHEST_PEAK.DATETIME || '-' }}</td>
                                    <td>{{ wattInfo.PEAK_DATA.LAST_1_HOUR.HIGHEST_PEAK.VALUE.toFixed(2) || '-' }}</td>
                                    <td>{{ wattInfo.PEAK_DATA.LAST_1_HOUR.HIGHEST_PEAK.SENSOR || '-' }}</td>
                                    <td>{{ wattInfo.PEAK_DATA.LAST_1_HOUR.HIGHEST_PEAK.DATETIME || '-' }}</td>
                                    <td>{{ wattInfo.PEAK_DATA.LAST_10_HOUR.HIGHEST_PEAK.VALUE.toFixed(2) || '-' }}</td>
                                    <td>{{ wattInfo.PEAK_DATA.LAST_10_HOUR.HIGHEST_PEAK.SENSOR || '-' }}</td>
                                    <td>{{ wattInfo.PEAK_DATA.LAST_10_HOUR.HIGHEST_PEAK.DATETIME || '-' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="card-body">
                        <ul class="nav nav-tabs">
                            <li class="nav-item active" ng-class="{ 'active': selectedTab === '3' }">
                                <a class="nav-link " ng-click="onRefresh('3')">{{ "SERVER_HEALTH.REAL_TIME" | translate }}</a>
                            </li>
                            <li class="nav-item " ng-class="{ 'active': selectedTab === '4' }">
                                <a class="nav-link" ng-click="onRefresh('4')">{{ "SERVER_HEALTH.LAST_HOUR" | translate }}</a>
                            </li>
                            <li class="nav-item" ng-class="{ 'active': selectedTab === '5' }">
                                <a class="nav-link" ng-click="onRefresh('5')">{{ "SERVER_HEALTH.LAST_DAY" | translate }}</a>
                            </li>
                        </ul>

                        <div ng-show="selectedTab === '3'" style="height: auto; margin-top: 30px;">
                            <canvas class="chart chart-line" 
                                chart-data="realTimeData" 
                                chart-labels="realTimeLabels" 
                                chart-dataset-override="Colors" 
                                chart-series="realTimeSeries"
                            ></canvas>
                        </div>

                        <div ng-show="selectedTab === '4'" style="height: auto; margin-top: 30px;">
                            <canvas class="chart chart-line" 
                                chart-data="lastHourData" 
                                chart-labels="lastHourLabels" 
                                chart-dataset-override="Colors" 
                                chart-series="lastHourSeries"
                            ></canvas>
                        </div>

                        <div ng-show="selectedTab === '5'" style="height: auto; margin-top: 30px;">
                            <canvas class="chart chart-line" 
                                chart-data="lastDayData" 
                                chart-labels="lastDayLabels" 
                                chart-dataset-override="Colors" 
                                chart-series="lastDaySeries"
                            ></canvas>
                        </div>
                    </div>

                    <!-- 기존 -->
                        <!-- <div id="css_tabs">
                            <div class="panel_head">
                                <input id="panel-1-ctrl" type="radio" name="tab" checked="checked" ng-click="onRefresh('3')"/>
                                <input id="panel-2-ctrl" type="radio" name="tab" ng-click="onRefresh('4')"/>
                                <input id="panel-3-ctrl" type="radio" name="tab" ng-click="onRefresh('5')"/>
                                <label for="panel-1-ctrl" style="margin-bottom:0">Real Time</label>
                                <label for="panel-2-ctrl" style="margin-bottom:0">Last Hour</label>
                                <label for="panel-3-ctrl" style="margin-bottom:0">Last Day</label>
                                <div class="tab1_content">
                                    <canvas class="chart chart-line" 
                                        chart-data="realTimeData" 
                                        chart-labels="realTimeLabels" 
                                        chart-dataset-override="Colors" 
    
                                    ></canvas>                               
                                </div>
                                <div class="tab2_content">
                                    <canvas class="chart chart-line" 
                                        chart-data="lastHourData" 
                                        chart-labels="lastHourLabels" 
                                        chart-dataset-override="Colors" 

                                    ></canvas>   
                                </div>
                                <div class="tab3_content">
                                    <canvas class="chart chart-line" 
                                        chart-data="lastDayData" 
                                        chart-labels="lastDayLabels" 
                                        chart-dataset-override="Colors" 

                                    ></canvas>                               
                                </div>
                            </div>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
