<div class="contents top-snb-margin" data-ng-init="init()">
    <div class="content">
        <div class="box_wrap box_guide serverbox_guide" style="min-height: 100px;">
            <div class="content-area">
                <div class="title_line server-line"  style="border-bottom: none;">
                    <h4>{{ "REMOTE_CONTROL.SERVER_POWER_CONTROL" | translate }}</h4>
                    <div class="server_arrow_line">
                        <div class="con-subtit">{{ "REMOTE_CONTROL.SERVER_POWER_CONTROL_DESCRIPTION" | translate }}</div>
                    </div>
                </div>

                <div class="server_ctrl-split">
                    <div class="con-info">
                        <div class="info-data">{{ "REMOTE_CONTROL.POWER_CONTROL_AND_STATUS" | translate }}</div>
                        <table class="table-data">
                            <colgroup>
                                <col width="200px">
                                <col width="*">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th rowspan="5">{{ "REMOTE_CONTROL.HOST_CURRENT" | translate: {$1: statusName} }}</th>
                                <td>
                                    <label class="radio-inline"><input type="radio" name="optradio" ng-model="status" ng-value="1">{{ "REMOTE_CONTROL.RESET_SERVER" | translate }}</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="radio-inline"><input type="radio" name="optradio" ng-model="status" ng-value="2">{{ "REMOTE_CONTROL.POWER_OFF_SERVER_IMMEDIATE" | translate }}</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="radio-inline"><input type="radio" name="optradio" ng-model="status" ng-value="3">{{ "REMOTE_CONTROL.POWER_OFF_SERVER_ORDERLY_SHUTDOWN" | translate }}</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="radio-inline"><input type="radio" name="optradio" ng-model="status" ng-value="4">{{ "REMOTE_CONTROL.POWER_ON_SERVER" | translate }}</label>
                                </td>
                            </tr>
                            <tr class="down">
                                <td>
                                    <label class="radio-inline"><input type="radio" name="optradio" ng-model="status" ng-value="5">{{ "REMOTE_CONTROL.POWER_CYCLE_SERVER" | translate }}</label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="btn-style">
                        <button type="button" class="btn btn-blue" data-ng-click="onClick()">{{ "REMOTE_CONTROL.ACTION" | translate }}</button>
                        <button type="button" class="btn btn-black">{{ "CANCEL" | translate }}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>