<div class="animation">
        <div class="contents top-snb-margin" data-ng-init="init()" style="padding:0; margin:0;">
            <div class="bmc bmc-fru">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">{{ "REMOTE_CONTROL.SERVER_POWER_CONTROL" | translate }}</p>
                        <p class="card-header-desc">{{ "REMOTE_CONTROL.SERVER_POWER_CONTROL_DESCRIPTION" | translate}}
                        </p>
                    </div>

                    <div class="card-body">
                        <div class="card-body">
                            <p class="card-title">{{ "REMOTE_CONTROL.POWER_CONTROL_AND_STATUS" | translate }}</p>
                            <table class="mb-0 table table-bordered table-fixed">
                                <colgroup>
                                    <col width="200px">
                                    <col width="*">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th rowspan="5" style="vertical-align:middle">{{ "REMOTE_CONTROL.HOST_CURRENT" | translate: {$1:
                                            statusName} }}</th>
                                        <td style="text-align: left;">
                                            <label class="radio-inline"><input type="radio" name="optradio"
                                                    ng-model="status" ng-value="1">{{ "REMOTE_CONTROL.RESET_SERVER"
                                                | translate }}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            <label class="radio-inline"><input type="radio" name="optradio"
                                                    ng-model="status" ng-value="2">{{
                                                "REMOTE_CONTROL.POWER_OFF_SERVER_IMMEDIATE" | translate }}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            <label class="radio-inline"><input type="radio" name="optradio"
                                                    ng-model="status" ng-value="3">{{
                                                "REMOTE_CONTROL.POWER_OFF_SERVER_ORDERLY_SHUTDOWN" | translate
                                                }}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            <label class="radio-inline"><input type="radio" name="optradio"
                                                    ng-model="status" ng-value="4">{{
                                                "REMOTE_CONTROL.POWER_ON_SERVER" | translate }}</label>
                                        </td>
                                    </tr>
                                    <tr class="down">
                                        <td style="text-align: left;">
                                            <label class="radio-inline"><input type="radio" name="optradio"
                                                    ng-model="status" ng-value="5">{{
                                                "REMOTE_CONTROL.POWER_CYCLE_SERVER" | translate }}</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="btn-style">
                            <button type="button" class="btn btn-primary" data-ng-click="onClick()">{{
                                "REMOTE_CONTROL.ACTION" | translate }}</button>
                            <!-- <button type="button" class="btn btn-secondary">{{ "CANCEL" | translate }}</button> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
