/*!
* Copyright 2018 hspark, Inc.
*/

/*
@import url(notosanskr.css);

@font-face {
    font-family: 'NotoKrL';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Light'), local('NotoSans-Light'), url(../fonts/NotoSans/NotoSans-Light.eot);
    src: url(../fonts/NotoSans/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
        url(../fonts/NotoSans/NotoSans-Light.woff2) format('woff2'),
        url(../fonts/NotoSans/NotoSans-Light.woff) format('woff');
    ;
}

@font-face {
    font-family: 'NotoKrR';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'), url(/fonts/NotoSans/NotoSans-Regular.eot);
    src: url(/fonts/NotoSans/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
        url(/fonts/NotoSans/NotoSans-Regular.woff2) format('woff2'),
        url(/fonts/NotoSans/NotoSans-Regular.woff) format('woff');
}

@font-face {
    font-family: 'NotoKrM';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'), url(../fonts/NotoSans/NotoSans-Medium.eot);
    src: url(../fonts/NotoSans/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
        url(../fonts/NotoSans/NotoSans-Medium.woff2) format('woff2'),
        url(../fonts/NotoSans/NotoSans-Medium.woff) format('woff');
}

@font-face {
    font-family: 'NotoKrB';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../fonts/NotoSans/NotoSans-Bold.eot);
    src: url(../fonts/NotoSans/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/NotoSans/NotoSans-Bold.woff2) format('woff2'),
        url(../fonts/NotoSans/NotoSans-Bold.woff) format('woff');
}

body {
    font-family: 'NotoKrR', 'Noto Sans KR', 'malgun gothic', arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    color: #555;
    background: #f1f5f8;
}

textarea {
    resize: vertical;
    font-family: 'NotoKrR', 'Noto Sans KR', 'malgun gothic', arial, sans-serif;
}

button {
    cursor: pointer;
    border: none;
    font-family: 'NotoKrR', 'Noto Sans KR', 'malgun gothic', arial, sans-serif;
}


ul,
ol {
    font-family: 'NotoKrR', 'Noto Sans KR', 'malgun gothic', arial, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
*/
a {
    color: #777;
    cursor: pointer;
}

.form-control {
    background: #fff;
    border: 1px solid #DDD;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.header {
    background: #FFF;
}

.log-bg {
    /*height: calc(100vh - 50px);
    min-height: 1080px;*/
    height: 100vh;
    /*overflow: hidden;*/
    background: url(../images/visual2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-log {
    /*position: relative;*/
    width: 460px;
    /*height: 100%;*/
    /*float: right;*/
    background: #fff;
}

.container-log select {
    width: 80px;
    float: right;
    border-radius: 0;
    border: 0;
    background: #f5f5f5;
}

.log-wrap {
    /*width: 480px;*/
    padding: 60px 60px 30px;
    margin: 5% 0 0;
}

.log-wrap input {
    background: #FFF;
}

.log-logo {
    color: #999;
    text-align: center;
    font-weight: lighter;
}

.log-logo p {
    margin: 30px 0;
}

.log-footer {
    font-size: 11px;
    text-align: center;
    color: #888;
}

.log-input {
    height: 40px;
    background: #FFF !important;
    border: 1px solid #DDD !important;
}

.btn-log {
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    background: #0058cd !important;
}

.log-logo2 {
    /*position: absolute;
    bottom: 20px;
    left: 23%;*/
    text-align: center;
}

.log-logo2 img {
    margin: 0 10px;
    opacity: .8;
}

.top-utility {
    background: #d9dfe3;
    height: 30px;
    text-align: center;
}

.top-utility-wrap {
    display: inline-block;
    width: 100%;
    max-width: 1410px;
    min-width: 1410px;
}

.top-left {
    float: left;
    width: 20%;
    height: inherit;
    text-align: left;
    line-height: 27px;
}

.top-left img {
    margin-right: 5px;
}

.top-right {
    /*position: relative;
    float: right;
    width: 80%;*/
    display: flex;
    justify-content: space-between;
    height: inherit;
    font-size: 11px;
    color: #a2a4a8;
    padding: 0 15px;
    line-height: 30px;
}

.logfile {
    /*position: absolute;
    right: -4px;
    top: 10px;*/
}

.logfile ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logfile li {
    /*float: left;*/
    padding: 0 10px !important;
    line-height: 30px !important;
    color: #111;
    font-size: 12px !important;
    border-bottom: none !important;
}

.logfile li a {
    color: #111;
    margin-left: 5px;
}

.logfile select {
    background: none;
    border: 0;
    padding: 0;
    color: #111;
    box-shadow: none !important;
}


.col-sm-2 {
    padding-left: 0px;
    padding-right: 0px;
}

.top-gnb {
    display: inline-block;
    width: 100%;
    /*height: 80px; line-height: 80px;*/
}
/* 
.top-gnb-logo {
    text-align: left;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} */

.top-gnb-logo a .top-gnb-logo a:hover {
    background: transparent !important;
    padding: 0 !important;
    border-right: 0 !important;
    box-sizing: border-box;
}

.top-gnb-menu {
    display: flex;
    justify-content: space-between;
    line-height: 6rem;
    position: relative;
}

.top-gnb-menu div {
    background: #1b2129;
    width: 100%;
}

.top-gnb-menu div a {
    display: block;
}

.top-gnb-menu:hover .dropdown-container {
    visibility: visible;
    height: auto;
    width: 100%;
}

.logo-location {
    display: flex;
    margin: 0 0 0 1rem;
    align-items: center;
}

.location {
    margin-left: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.location div {
    padding: 0 5px;
}

.location .arrow {
    display: inline-block;
    content: "";
    background: url("../images/slideup.svg") no-repeat;
    width: 25px;
    height: 25px;
    transform: rotate(90deg);
    margin-top: 3px;
}


.home_middle2 {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.sidenav-menu,
.sidenav {
    /*float:left;
    width: 15%;
    height: calc(100vh - 50px);
    min-height: 970px;
    background: #f5f6f7;
    border-right: 1px solid #efefef;
    */
    /*background: #0a458d;*/
    text-align: center;
    /* height: 120px; */
    /*line-height: 80px;*/
}


/* Style the sidenav links and the dropdown button */
.sidenav-menu .top-gnb-menu a,
.dropdown-btn,
.sidenav a {
    /* color: #fff; */
}

.menu04 {
    font-size: 1.4rem;
}

.top-gnb-menu div:hover,
.top-gnb-menu div.active {
    background: #0058cd;
    color: #fff !important;
    /*border: 0 !important;*/
}

.top-gnb-menu div.active a {
    color: #fff !important;
}

.dropdown-container a:hover,
.dropdown-btn a:hover {
    background: #0058cd;
}


.sidenav-menu .top-gnb-logo a:hover {
    border-bottom: 0;
}

.sidenav .top-gnb-logo a:hover {
    border-bottom: 0;
}

/* Add an active class to the active dropdown button */
/* .active {
    font-family: NotoKrM;
    color: #0058cd;
    border-bottom: 3px solid #0058cd;
} */

.active a {
    color: #0058cd;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: hidden;
    justify-content: center;
    position: absolute;
    height: 50px;
    line-height: 50px;
    width: 100%;
    top: 100%;
    left: 0px;
    z-index: 2;
    border-top: 1px solid #024eb3;
    border-right: none !important;
    text-align: center;
}

.dropdown-container div {
    background: #0058cd;
    border-right: 1px solid #004eb7;
}

.dropdown-container div:last-child {
    border-right: 0;
}

.dropdown-container a {
    line-height: 50px;
    font-size: 13px;
    color: #9ab5d3;
    width: 100%;
    display: block;
    border-bottom: 0;
    text-decoration: none;
}

.dropdown-container a.active,
.dropdown-container a:hover {
    color: #fff;
    background: #024299;
    margin: -1px 0 0;
}

/* Optional: Style the caret down icon */
.glyphicon-chevron-down,
.glyphicon-chevron-up {
    float: right;
    padding-right: 8px;
    padding-top: 18px;
}

.menu-icon {
    float: right;
    padding-right: 8px;
    padding-top: 18px;
}


/* Some media queries for responsiveness */
/*@media screen and (max-height: 450px) {
    .sidenav-menu {padding-top: 15px;}
    .sidenav-menu a {font-size: 18px;}
}*/

.sidenav-menu li {
    /* border-bottom: 1px solid #2d3034; */
    padding: 0 20px;
    font-size: 14px;
}


/* Some media queries for responsiveness */
/*@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}*/

.sidenav li {
    -height: 60px;
    /* border-bottom: 1px solid #2d3034; */
    padding: 0 20px;
    font-size: 14px;
}


.top-snb-margin {
    margin-top: 1rem
}

.contents {
    /*float:left;*/
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

.content {
    display: block;
    text-align: center;
}

.home-middle {
    height: 360px;
}

.date-time {
    color: #111;
    padding-top: 3px;
    margin-left: 20px;
}


.icon_date {
    /** background: url(../images/icon_date.png) no-repeat 0 0; **/
    font-size: 16px;
    font-weight: bold;
}

.icon_time {
    /** background: url(../images/icon_time.png) no-repeat 0 0; **/
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.box_wrap {
    position: relative;
    background: #FFF;
    border: 1px solid #DDD;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5px;
    text-align: left;
    height: 100%;

}

.content-area {
    position: relative;

}

.background-image {
    position: absolute;
    width: 30%;
    opacity: 0.5;
    top: 35%;
    left: 36%;
    right: 0;
    bottom: 0;
    transform: rotate(-90deg);
    max-width: 600px;
}

.modify-btn {
    margin-top:60px;
}

@media (min-width: 2000px) {
    .modify-btn {
        margin-top: 150px;
    }
}

.contents.home {
    max-width: 99%;
}

.contents.home .box_wrap {
    border: 1px solid #eee;
}

.box_line {
    background: 1px solid #ddd;
    border-top: 3px solid #033075;
    width: auto;
    position: relative;
}

.box_tit {
    color: #003693;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    /*background: #ebeff1;*/
    margin: 15px 20px 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #003693;
}

/*.contents.home .hardware:nth-child(1) .box_tit {border-top-color: #2e72c4;}
.contents.home .hardware:nth-child(2) .box_tit {border-top-color: #d48d2b;}

.contents.home .info:nth-child(1) .box_tit {border-top-color: #23a6af;}
.contents.home .info:nth-child(2) .box_tit {border-top-color: #d05f6f;}

.contents.home .graph-bar:nth-child(1) .box_tit {border-top-color: #094181;}
.contents.home .graph-bar:nth-child(2) .box_tit {border-top-color: #46c22c;}
.contents.home .graph-bar:nth-child(3) .box_tit {border-top-color: #999;}*/

.box_icon {
    position: absolute;
    right: 20px;
    top: 5px;
}

.summary {
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 20px;
    /*min-width: 900px;*/
}

.summary label.blind {
    display: none;
}

/* .summary div:first-child {
    background: #f5f5f5;
    border-radius: 5px;
    padding:7px;
    width:115px;
    text-align: center;
    font-size: 12px;
    color:#0066cc;
    font-weight: 500;
    margin-right:20px;
} */
.summary div:first-child ul {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.summary div:first-child li {
    padding: 2px 5px;
}

.summary div:first-child .fan {
    background: url(../images/hw_status_fan.jpg) no-repeat top left;
    width: 35px;
    height: 35px;
    display: inline-block;
    overflow: hidden;
}

.summary div:first-child .fan.on {
    opacity: 1;
}

.summary div:first-child .fan.off {
    opacity: 0.1;
}

.summary div:first-child .power {
    background: url(../images/hw_status_power.jpg) no-repeat top left;
    width: 82px;
    height: 46px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.summary div:first-child .power.on {
    opacity: 1;
}

.summary div:first-child .power.off {
    opacity: 0.1;
}

.summary div:first-child .temp {
    position: absolute;
    /* 추가 */
    top: 5px;
    /* 좌표값 조절 */
    left: 5px;
    /* 좌표값 조절 */
}

/* .summary div:last-child {
    background: url(../images/new_board.png) no-repeat center center;
    background-size: 100%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
} */

.summary div:last-child span {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 12px;
    line-height: 1;
}

.summary div:last-child .temp i {
    background: url(../images/icon_alram.png) no-repeat top left;
    width: inherit;
    height: inherit;
    display: inline-block;
    overflow: hidden;
}

.summary div:last-child i.normal {
    background-position: 0 0;
}

.summary div:last-child i.critical {
    background-position: -10px 0;
}

.summary div:last-child .temp.p1 {
    top: 638%;
    left: 11.5%
}

.summary div:last-child .temp.p2 {
    top: 678%;
    left: 11.5%
}

.summary div:last-child .temp.p3 {
    top: 715%;
    left: 11.5%
}

.summary div:last-child .temp.p4 {
    top: 755%;
    left: 11.5%
}

.summary div:last-child .temp.p5 {
    top: 1250%;
    left: 23%
}

.summary div:last-child .temp.p6 {
    top: 570%;
    left: 17%
}

.summary div:last-child .temp.p7 {
    top: 570%;
    left: 64%
}

.summary div:last-child .temp.p8 {
    top: 1150%;
    left: 95.5%
}

.summary div:last-child .temp.p9 {
    top: 700%;
    left: 91%
}

.summary div:last-child .temp.p10 {
    top: 1098%;
    left: 11.5%
}

.summary div:last-child .temp.p11 {
    top: 1130%;
    left: 11.5%
}
.summary div:last-child .temp.p12 {
    top: 1170%;
    left: 11.5%
}
.summary div:last-child .temp.p13 {
    top: 1205%;
    left: 11.5%
}




.summary div:last-child .ram i,
.summary div:last-child .cpu i {
    background: url(../images/icon_onoff.png) no-repeat top left;
    width: 11px;
    height: 11px;
    display: inline-block;
    overflow: hidden;

}

.summary div:last-child i.on {
    background-position: 0 0;
}

.summary div:last-child i.off {
    background-position: -11px 0;
}

.summary div:last-child .ram.p1 {
    top: -1px;
    left: 403px
}

.summary div:last-child .ram.p2 {
    top: 14px;
    left: 403px
}

.summary div:last-child .ram.p3 {
    top: 29px;
    left: 403px
}

.summary div:last-child .ram.p4 {
    top: -1px;
    left: 613px
}

.summary div:last-child .ram.p5 {
    top: 14px;
    left: 613px
}

.summary div:last-child .ram.p6 {
    top: 29px;
    left: 613px
}

.summary div:last-child .ram.p7 {
    top: 292px;
    left: 370px
}

.summary div:last-child .ram.p8 {
    top: 307px;
    left: 370px
}

.summary div:last-child .ram.p9 {
    top: 322px;
    left: 370px
}

.summary div:last-child .ram.p10 {
    top: 293px;
    left: 613px
}

.summary div:last-child .ram.p11 {
    top: 308px;
    left: 613px
}

.summary div:last-child .ram.p12 {
    top: 323px;
    left: 613px
}

.summary div:last-child .cpu.p1 {
    top: 113px;
    left: 613px
}

.summary div:last-child .cpu.p2 {
    top: 218px;
    left: 613px
}

/*
.line-up {
    position: relative;
    text-align: center;
    border-top: 1px solid #EEE;
    height: 90px;
}

.line-up .txt {
    color: #2d6fc8;
    font-weight: bold;
    padding-top: 5px;
}

.array01 li {
    position:relative;
    display: inline-block;
    text-align: center;
    padding: 5px 10px 10px 10px;
}

.array02 li {
    position:relative;
    display: inline-block;
    text-align: center;
    padding: 5px 2px 10px 2px;
}

.array03 li {
    position:relative;
    display: inline-block;
    text-align: center;
    padding: 5px 10px 10px 10px;
}

.summary .title {
    position: absolute;
    right: 20px;
    top: 35px;
    font-size: 12px;
    font-weight: bold;
}

.summary h5 {
    font-size: 12px;
    font-weight: bold;
    padding-top: 15px;
}*/

.box-view {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    width: 30px;
    line-height: 30px;
    color: #FFF;
}

.box-red {
    background: #f20c0c;
}

.box-green {
    background: #8bc34a;
}

.box-yellow {
    background: #fdd835;
}

.content_row21 {
    float: left;
    width: 59%;
}

.content_row22 {
    float: left;
    width: 40%;
    margin-left: 1%;
    overflow: hidden;
}

.sub_tit {
    font-size: 14px;
    font-family: NotoKrM;
    /*background: url(../images/icon-bullet.png) no-repeat 2px 2px;
    padding-left: 20px;*/
    color: #333;
}

.progress_wrap {
    height: 300px;
    margin: 10px 20px;
}

.progress-value {
    font-size: 11px;
}

.content_row31 {
    float: left;
    width: 32%;
}

.content_row32 {
    float: left;
    width: 32%;
    margin-left: 2%;
}

.content_row33 {
    float: left;
    width: 32%;
    margin-left: 2%;
}

/*! Button Style  */

.btn-style {
    text-align: center;
    margin-top: 20px;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #FFF;
    text-decoration: none;
}

.btn-black {
    background: #333;
    color: #FFF;
    min-width: 80px;
}

.btn-black:focus,
.btn-black:hover {
    color: #FFF;
    text-decoration: none;
}


.btn-blue {
    background: #0058cd;
    color: #fff;
    min-width: 80px;
}

.btn-darkblue {
    background: #033075;
    color: #fff;
    min-width: 80px;
}

.btn-normal {
    background: #f4f4f4;
    border: 1px solid #DDD;
    color: #333;
}

.btn-normal.focus,
.btn-normal:focus,
.btn-normal:hover {
    color: #333;
    text-decoration: none;
}


/*! TABLE Style  */

table {
    width: 100%;
}

.table-normal {
    width: 100%;
    font-size: 12px;
}

.table-normal th {
    border-bottom: 1px solid #51545a;
    background: #373a3e;
    padding: 4px 0px;
    text-align: center;
}

.table-normal th:first-child {
    border-left: 0px solid #51545a;
}

.table-normal td {
    border-bottom: 1px solid #eee;
    text-align: left;
    padding: 4px 0px;
}

.table-normal td:first-child {
    text-align: left;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background: #393c41;
}

.table-view {
    width: 100%;
}

.table-view th {
    /*background: #373a3e;*/
    text-align: center;
    font-weight: normal;
    /*color: #FFF;*/
    padding: 7px 10px;
    border-bottom: 2px solid #373a3e;
}

.table-view th:first-child {
    border-left: 0px solid #DDD;
}

.table-view td {
    border-bottom: 1px solid #DDD;
    text-align: center;
    font-size: 14px;
    -padding: 7px 10px;
    height: 39px;
    overflow: hidden;
}

.table-view td:first-child {
    text-align: center;
}

.table-view .active {
    background: #f4f4f4;
    color: #333;
}


.table-wrapper {
    position: relative;
}

.table-data {
    width: 95%;
    font-size: 12px;
    border-top: 2px solid #0b4daf;
}

/* .down {
    width: 95%;
    font-size: 12px;
    margin: 0 10px;
    border-bottom: 2px solid #0b4daf;
} */

.table-data th {
    background: #D9E3F0;
    border-bottom: 1px solid #0b4daf;
    padding: 0.5rem 0.7rem;
    color: #1B2129;
    font-weight: bold;
    width: 45%;
}

.list th {
    text-align: center;
}

.table-data td {
    border-bottom: 1px solid #0b4daf;
    padding: 0.5rem 0.7rem;
    color: #0b4daf;
    font-weight: bold;

}




/*! POPUP Style  */
md-dialog {
    position: relative;
    width: 800px;
    margin: 0 auto;
}

.popup-header {
    position: relative;
    background: #df2428;
    height: 50px;
    color: #FFF;
}

.pop-title {
    position: absolute;
    font-weight: bold;
    left: 20px;
    top: 0px;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0px;
}

.pop-close {
    position: absolute;
    right: 20px;
    top: 0px;
    line-height: 50px;
}

.popup-body {
    border: 1px solid #ddd;
    border-top: 0px;
    padding: 20px 20px;
}


/*! Contents Style */
.box_guide {
    overflow: hidden;
    min-height: 400px;
    padding: 20px 30px 50px;
    margin-top: 55px;
}

.box_guide2 {
    overflow: hidden;
    min-height: 400px;
    padding: 20px 30px 50px;
    margin-top: 15px;
}

.title_line {
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 2px solid #0b4daf;
}

h4 {
    color: #0b4daf;
    font-size: 25px;
    margin: 0;
    font-weight: bold;
}

.arrow-button,
.arrow-button1,
.arrow-button2,
.arrow-button3,
.arrow-button4,
.arrow-button5,
.arrow-button6,
.arrow-button7 {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.arrow-button img,
.arrow-button1 img,
.arrow-button2 img,
.arrow-button3 img,
.arrow-button4 img,
.arrow-button5 img,
.arrow-button6 img,
.arrow-button7 img {
    width: 35px;
    height: auto;
    cursor: pointer;
}

.con-subtit {
    color: #999;
    font-family: notokrL;
    margin-top: 10px;
}

.con-info {
    margin-top: 20px;
}

.info-data {
    color: #333;
    font-size: 15px;
    font-family: notokrM;
    font-weight: bold;
    margin: 1rem 0 1rem 0;
    padding-left: 1rem;
    padding-bottom: 0;
    border-left: 5px solid #0b4daf;

}

.info-data.bullet {
    /*background: url(../images/icon-bullet02.png) no-repeat 2px 8px;*/
}

.sensor-top {
    margin-top: 40px;
}

.sensor-txt {
    text-align: right;
    font-size: 12px;
    vertical-align: bottom;
}

.sensor-cont {
    margin-top: 10px;
}

.cont-left {
    float: left;
    width: 55%;
    margin-right: 5%;
}

.cont-right {
    float: left;
    width: 40%;
}

.sensor-title {
    background: #373a3e;
    padding: 10px 20px;
}

.sensor-sub {
    padding-top: 10px;
    height: 40px;
    font-size: 12px;
}

.sensor-title-name {
    color: #FFF;
    font-size: 24px;
}

.sensor-title-sign {
    background: #FFF;
    color: #333;
    border-radius: 50px;
    padding: 6px 12px;
    text-align: center;
    width: 150px;
}

.sensor-cont .scroll-table {
    overflow: auto;
    height: 200px;
}

/* .nav-tabs {
    border-bottom: 1px solid #DDD;
} */

/* .menu-tab {
    position: relative;
    width: 100%;
    margin-top: 30px;
} */

/* .menu-tab .nav-tabs>li.active>a,
.menu-tab .nav-tabs>li.active>a:focus,
.menu-tab .nav-tabs>li.active>a:hover {
    color: #333;
    background-color: #FFF;
}

.menu-tab .nav-tabs>li>a {
    margin-right: 0px;
    border: 1px solid #ddd;
    border-left: 0px solid #52555a;
    background: #eee;
    border-radius: 0px;
    width: 150px;
    text-align: center;
    color: #777;
}

.menu-tab .nav-tabs>li:first-child>a {
    border-left: 1px solid #DDD;
} */


.ui-depth2 {
    width: 100%;
}

.ui-depth2-row {
    float: left;
    width: 49%;
}

.marginleft2 {
    margin-left: 2%;
}

.padding2030 {
    padding: 20px 30px 20px;
}

.mr10 {
    margin-right: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding: 0.5rem 0rem 0.5rem 0rem;

}

.progress_wrap .progress_gr .progress-bar {
    background-color: #099022;
}

.progress_wrap .progress_gr2 .progress-bar {
    background-color: #40c401;
}

.progress_wrap .subtit {
    font-size: 13px;
}

/* [수정2] 차트 색깔..... */
.ct-series-a .ct-point,
.ct-series-a .ct-line,
.ct-series-a .ct-bar,
.ct-series-a .ct-slice-donut {
    /* stroke : #0058cd !important; */
    /* stroke: blue !important; */
    stroke: #273a7c !important;
    /* 273a7c */
}

.ct-series-b .ct-point,
.ct-series-b .ct-line,
.ct-series-b .ct-bar,
.ct-series-b .ct-slice-donut {
    /* stroke : #0058cd !important; */
    /* stroke: red !important; */
    stroke: #f95f2b !important;
    /* f95f2b */
}

/* .ct-chart .ct-slice-donut:nth-of-type(4n+1){
    stroke: red !important;
}
.ct-chart .ct-slice-donut:nth-of-type(4n+2){
    stroke: blue !important;
}
.ct-chart .ct-bar:nth-of-type(4n+1)
{
    stroke: yellow !important;
}
.ct-chart .ct-bar:nth-of-type(4n+2) 
{
    stroke: green !important;
}
.ct-chart .ct-bar:nth-child(1)
{
    stroke: purple;
}
.ct-chart .ct-bar:nth-child(2)
{
    stroke: orange;
}
.ct-chart .ct-bar:nth-child(3)
{
    stroke: pink;
}
.ct-chart .ct-bar:nth-child(4)
{
    stroke: skyblue;
} */

.temp-graph {
    padding: 10px 10px;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

.temp-graph svg {
    height: 250px !important;
}

.temp-graph img {
    height: 100%;
}

.temp-graph p {
    margin-top: 0;
    font-size: 12px;
}

.kvm {
    padding: 10px;
    text-align: center;
    height: 388px;
    height: 185px;
    height: 280px;
}

.kvm img {
    height: 100%;
}

.kvm .default {
    width: 100%;
    height: 246px;
    background: #eee;
    text-align: center;
    color: #000;
    line-height: 245px;
}

.bmc-wrap {
    height: 388px;
    padding: 0 20px 20px 20px;
}

.event {
    margin-top: 40px;
}

.event-wrap {
    padding-right: 2%;
}

.event-wrap .graph {
    height: 400px;
    border: 1px solid #DDD;
}

.event-list {
    height: 345px;
    padding: 10px 20px 10px 20px;
}

.event-list .scroll {
    height: 320px;
    overflow: auto;
    -ms-overflow-style: none;
}

.sensor-cont .col-sm-7 {
    padding: 0 15px;
    /**
    height: 338px;
    overflow: auto;
    **/
}

.sensor-cont .col-sm-5 {
    padding: 0 15px;
}

.sensor-cont .scroll {
    height: 338px;
    overflow: auto;
}

.item-history {
    position: relative;
    overflow: hidden;
}

.item-date {
    background: #f48000;
    padding: 4px 0px;
    border-radius: 4px;
    display: inline-block;
    color: #FFF;
    font-size: 12px;
    width: 127px;
    text-align: center;
}

.item-line-top {
    display: block;
    position: absolute;
    width: 1px;
    height: 50px;
    top: 28px;
    left: 63px;
    border-left: 2px solid #2973b6;
}

.item-line {
    display: block;
    position: absolute;
    width: 1px;
    height: 50px;
    top: 0px;
    left: 63px;
    border-left: 2px solid #2973b6;
}

.item-line.end {
    height: 30px;
    top: 0px;
    left: 63px;
    border-left: 2px solid #2973b6;
}

.item-list {
    margin-top: 10px;
    margin-bottom: 30px;
}

.item-area {
    position: relative;
    overflow: hidden;
    padding: 5px 0;
    font-size: 12px;
}


.item-area .icon {
    padding-top: 0px;
    text-align: center;
    z-index: 1;
    float: left;
    width: 127px;
}

.txt-area {
    position: relative;
    border: 1px solid #DDD;
    background: #f4f4f4;
    padding: 4px 10px;
    border-radius: 4px;
    display: inline-block;
    float: left;
    width: calc(100% - 127px);
    height: 31px;
    overflow: hidden;
}

.txt-area .txt {}


.txt-area .date {
    position: absolute;
    right: 10px;
    top: 5px;
}

.scroll-table {
    height: 200px;
    overflow: auto;
}

.event .scroll {
    height: 360px;
    overflow: auto;
}

.btm-logo {
    position: fixed;
    left: 0px;
    bottom: 10px;
    width: 15%;
    text-align: center;
}

.btm-logo img {
    width: 100%;
    max-width: 155px;
}

.browser {
    text-align: center;
    color: #ccc;
    /*border-top: 1px solid #FFF;
    border-color:rgba(255, 255, 255, 0.4);*/
    font-size: 11px;
    padding: 10px;
    /*position: absolute;
    bottom: 50px;
    left: 17%;*/
}

@media screen and (max-width: 1399px) {

    .col-sm-8.hardware {
        width: 100%;
    }

    .col-sm-4.hardware {
        width: 100%;
    }

    .col-sm-6.info {
        width: 100%;
    }

    .top-left {
        /*width: 205px;*/
        min-width: 215px;
    }

    .sidenav-menu {
        /*width: 205px;
        height: calc(100vh + 1030px);
        min-height: 1930px;*/
        width: 100%;
        min-width: 1100px;
    }

    .sidenav {
        /*width: 205px;
        height: calc(100vh + 50px);*/
        width: 100%;
        min-width: 1100px;
    }

    .top-utility-wrap {
        min-width: 900px;
    }

    .top-gnb-menu {
        min-width: 100%;
    }

    .dropdown-container {
        min-width: 100%;
    }

    .contents {
        /*width: calc(100% - 207px);*/
        width: 100%;
        height: 100%;
    }

    .col-sm-4.graph-bar {
        width: 50%;
    }

    .col-sm-4.event-wrap {
        width: 100%;
    }

    .col-sm-8.event-scroll {
        width: 100%;
        margin-top: 20px;
    }

    .btm-logo {
        width: 200px !important;
    }
}

@media screen and (max-width: 1120px) {

    .logo-location {
        display: flex;
        margin: 0 0 0 2rem;
        align-items: center;
    }

    .top-gnb {
        width: 100%;
    }

    .top-gnb-menu {
        background: #1b2129;
        width: 100%;
    }

    .dropdown-container div {
        background: #0058cd;
        border-right: 1px solid #004eb7;
    }

}

@media screen and (max-width: 770px) {

    .home-middle {
        width: auto;
        height: 100%;
    }

}

/*@media screen and (max-width: 1023px) {
    .container-fluid {
        min-width: 1000px;
    }
    .col-sm-4.graph-bar {
        width: 50%;
    }

    .sidenav-menu {
        min-height: 1930px;
    }

    .btm-logo {
        width: 200px !important;
    }
}

@media screen and (max-width: 767px) {
    .sidenav-menu {
        min-height: 2584px;
    }

    .col-sm-4.graph-bar {
        width: 100%;
    }

    .progress_wrap {
        height: inherit;
    }

    .temp-graph {
        height: inherit;
    }
}

@media screen and (max-height: 450px) {
    .sidenav a {
        font-size: 14px;
    }

    .sidenav-menu a {
        font-size: 14px;
    }
}*/


/* scroll bar hidden */
.contents ::-webkit-scrollbar {
    width: 0px;
}

/*! Progressbar Style */
.progress-bar-gradient {
    background: linear-gradient(to right, green, yellow, red);
}

.progress-bar-lightGreen {
    background: #00b000;
}

.progress-bar-green {
    background: #80d701;
}

.progress-bar-yellow {
    background: #f4f001;
}

.progress-bar-orange {
    background: #f48000;
}

.progress-bar-red {
    background: #f40000;
}

/** Spinner **/
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sk-folding-cube {
    width: 40px;
    height: 40px;
    position: absolute;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #65ACE0;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {

    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {

    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

#div_table {
    display: table;
    width: 100%;
}

.table_row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 3px;

}

.cell_margin {
    display: table-cell;
    padding: 3px;
}

.col_margin_l {
    width: 27%;
}

.col_margin_r {
    width: 27%;
}

.col_span_1 {
    width: 26%;
    font-weight: bold;
    font-size: 10pt;
    text-align: center;
}

.col_span_total {
    width: 32%;
    font-weight: bold;
    font-size: 10pt;
    text-align: center;
}

.col_span_2 {
    width: 20%;
    font-weight: bold;
    font-size: 12pt;
    text-align: left;
}

/* [수정2] powerusage에서 색변경부분 */
.col_peak_watt {
    color: #5f97ff;
}

.col_max_watt {
    color: #f05b4f;
}

.col_data {
    width: 6%;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
    float: left;
    text-align: left;
}

.col_img {
    width: 6%;
    float: left;
    margin-top: 6px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.col_index_margin_l {
    width: 40%;
    float: left;
    margin-top: 6px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.col_index_margin_r {
    width: 35%;
    float: left;
}



/* tab
#css_tabs input:nth-of-type(1),
#css_tabs input:nth-of-type(1)~div:nth-of-type(1),
#css_tabs input:nth-of-type(2),
#css_tabs input:nth-of-type(2)~div:nth-of-type(2),
#css_tabs input:nth-of-type(3),
#css_tabs input:nth-of-type(3)~div:nth-of-type(3) {
    display: none
}

#css_tabs input:nth-of-type(1):checked~div:nth-of-type(1),
#css_tabs input:nth-of-type(2):checked~div:nth-of-type(2),
#css_tabs input:nth-of-type(3):checked~div:nth-of-type(3) {
    display: block;
}

#css_tabs label {
    float: left;
    display: inline-block;
    width: 20%;
    font-size: 1.3rem;
    padding: 5px 50px;
    text-align: center;
    line-height: 1.8em;
    font-weight: 600;
    border-radius: 3px 3px 0 0;
    background: #eee;
    color: #777;
    border: 1px solid #ccc;
    border-width: 1px 1px 0;
    margin-right: 2px;
}

#css_tabs>label:hover {
    cursor: pointer
}

#css_tabs label[for=tab1] {
    margin-left: 1.5em
}

#css_tabs input:nth-of-type(1):checked~label:nth-of-type(1),
#css_tabs label[for=tab1]:hover,
#css_tabs input:nth-of-type(2):checked~label:nth-of-type(2),
#css_tabs label[for=tab2]:hover,
#css_tabs input:nth-of-type(3):checked~label:nth-of-type(3),
#css_tabs label[for=tab3]:hover {
    background: #2376bd;
    color: #fff;
}

실제 내용이 담긴 div 요소 스타일 지정
#css_tabs .tab1_content,
#css_tabs .tab2_content,
#css_tabs .tab3_content .home_tab_content {
    padding: 2em;
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    clear: both;
} */ 


.sensor_icon {
    position: relative;
}

.sensor_icon span {
    position: absolute;
    background-size: 100%;
    width: 17px;
    height: 17px;
}

.sensor-active {
    background: url(../images/icon_Normal.png);
}

.sensor-hidden {
    display: none;
    background: url(../images/icon_Critical.png);
}


.sensor_text {
    font-size: 12px;
    font-weight: bold;
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}

.card-header-desc {
    text-align: start;
}



@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.animation {
    position: relative;
    animation: fadeInUp 1s;
}